@charset "UTF-8";
.navbar {
  padding: 0; }

.navbar-expand-lg .navbar-nav .nav-link {
  color: #fff;
  font-size: 1.3rem;
  font-family: sansBold;
  margin-left: 2.5rem;
  margin-top: 4rem; }

.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 85px; }

.dropdown-menu {
  background-color: #1e1e1e;
  top: 90%;
  left: 27px;
  border-radius: .8rem;
  min-width: 12rem; }

.dropdown-item {
  color: white;
  font-family: sansRegular;
  font-size: 1.3rem;
  padding-top: .7rem;
  padding-bottom: .7rem; }

.dropdown-item:hover {
  background-color: #2c2c2c;
  color: white;
  padding-left: 2.5rem;
  transition: all .3s ease-in-out; }

.dropdown-divider {
  border-top: 1px solid #2c2c2c; }

.navbar button span i {
  color: #dbdbdb;
  font-size: 3rem; }

.navbar {
  padding: 0; }

.navbar-expand-lg .navbar-nav .nav-link {
  color: #fff;
  font-size: 1.3rem;
  font-family: sansBold;
  margin-left: 2.5rem;
  margin-top: 4rem; }

.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 85px; }

.dropdown-menu {
  background-color: #1e1e1e;
  top: 90%;
  left: 27px;
  border-radius: .8rem;
  min-width: 12rem; }

.dropdown-item {
  color: white;
  font-family: sansRegular;
  font-size: 1.3rem;
  padding-top: .7rem;
  padding-bottom: .7rem; }

.dropdown-item:hover {
  background-color: #2c2c2c;
  color: white;
  padding-left: 2.5rem;
  transition: all .3s ease-in-out; }

.dropdown-divider {
  border-top: 1px solid #2c2c2c; }

.navbar button span i {
  color: #dbdbdb;
  font-size: 3rem; }

body {
  margin-top: 50rem; }

.limit {
  font-size: 14px;
  color: #979797;
  font-family: sansRegular; }

.column-2 .limited span, .column-3 .limited span, .column-4 .limited span, .column-2 .cell-4 span, .column-3 .cell-4 span, .column-4 .cell-4 span, .column-5 .cell-1 .limited span {
  color: #cd3907;
  position: absolute;
  font-family: sanslight;
  font-size: 12px;
  transform: translate(200%, -190%); }

.column-2 .cell-5 a span, .column-3 .cell-5 a span, .column-4 .cell-5 a span {
  color: #cd3907;
  position: absolute;
  font-family: sanslight;
  font-size: 12px;
  transform: translate(386%, -45%); }

.column-3 .cell-6 span, .column-4 .cell-6 span {
  color: #cd3907;
  position: absolute;
  font-family: sanslight;
  font-size: 12px;
  transform: translate(407%, -60%); }

.column-2 .limited p, .column-3 .limited p, .column-4 .limited p, .column-2 .cell-4 p, .column-3 .cell-4 p, .column-4 .cell-4 p {
  font-size: 14px;
  color: #A9A9A9;
  font-family: sansRegular; }

.table-2-mob .col-2-mob .delete-line, .table-3-mob .col-2-mob .delete-line {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .table-2-mob .col-2-mob .delete-line :nth-child(1), .table-3-mob .col-2-mob .delete-line :nth-child(1) {
    text-decoration: line-through;
    font-family: OpenSans-SemiBold;
    font-size: 16px; }
  .table-2-mob .col-2-mob .delete-line :nth-child(2), .table-3-mob .col-2-mob .delete-line :nth-child(2) {
    font-family: OpenSans-SemiBold;
    font-size: 16px;
    margin-bottom: 23px; }

.table-1-mob .col-2-mob .col-2-cell-7-mob button, .table-2-mob .col-2-mob .col-2-cell-7-mob button, .table-3-mob button {
  width: 110px;
  height: 36px;
  border: none;
  border-radius: 2.5rem;
  outline: none;
  color: #fff;
  font-family: OpenSans-Bold;
  font-size: 14px;
  margin-top: 10px; }

.column-2 button, .column-3 button, .column-4 button {
  color: #fff;
  width: 170px;
  height: 45px;
  border-radius: 20px;
  margin-top: 20px;
  font-family: OpenSans-Bold;
  letter-spacing: 1px;
  font-size: 16px;
  outline: none;
  border: none;
  background-color: #2e7dff; }
  .column-2 button:hover, .column-3 button:hover, .column-4 button:hover, .column-2 button :focus, .column-3 button :focus, .column-4 button :focus, .column-2 button :active, .column-3 button :active, .column-4 button :active {
    background-color: #156dfa;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all .5s ease-in-out; }

@font-face {
  font-family: sanslight;
  src: url("../fonts/OpenSans/OpenSans-Light_0.ttf"); }

@font-face {
  font-family: sansRegular;
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf"); }

@font-face {
  font-family: Georgiabold;
  src: url("../fonts/Georgia/georgiab.ttf"); }

@font-face {
  font-family: extaBold;
  src: url("../fonts/OpenSans/OpenSans-ExtraBold.ttf"); }

@font-face {
  font-family: georgiaa;
  src: url("../fonts/Georgia/georgia.ttf"); }

@font-face {
  font-family: OpenSans-Italic;
  src: url("../fonts/OpenSans/OpenSans-Italic.ttf"); }

@font-face {
  font-family: OpenSans-SemiBold;
  src: url("../fonts/OpenSans/OpenSans-SemiBold.ttf"); }

@font-face {
  font-family: OpenSans-Bold;
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf"); }

hr,
br,
p {
  margin: 0;
  padding: 0; }

/* start table pricing */
.column-1 {
  width: 230px;
  display: flex;
  flex-direction: column; }
  .column-1 .cell-1 {
    height: 300px;
    padding-top: 50px; }
    .column-1 .cell-1 .first-par {
      font-size: 30px;
      text-align: left;
      margin-bottom: 20px;
      font-weight: bold;
      letter-spacing: 1px;
      font-family: georgiaa; }
    .column-1 .cell-1 .child {
      font-size: 18px;
      text-align: left;
      font-family: sanslight;
      opacity: .7;
      color: rgba(3, 1, 0, 0.7); }
  .column-1 span {
    color: #cd3907;
    font-family: OpenSans-Italic;
    font-size: 14px; }
  .column-1 .cell-2, .column-1 .column-5 .cell-4, .column-5 .column-1 .cell-4 {
    border-top-left-radius: 1rem;
    background-color: #f4f4f4;
    text-align: left;
    padding-left: 20px;
    font-family: OpenSans-SemiBold;
    height: 116px;
    font-size: 16px;
    padding-top: 55px; }
  .column-1 .cell-3, .column-1 .column-5 .cell-5, .column-5 .column-1 .cell-5, .column-1 .cell-4, .column-1 .cell-5, .column-1 .cell-6, .column-1 .cell-7, .column-1 .cell-8 {
    background-color: #F9F9F9 !important;
    color: #000;
    height: 80px;
    text-align: left;
    padding-left: 20px;
    font-family: OpenSans-SemiBold;
    font-size: 16px;
    padding-top: 16px; }
  .column-1 .cell-5 {
    padding-top: 25px; }
  .column-1 .cell-8 {
    height: 140px;
    border-bottom-left-radius: 1.5rem; }

.count-maga {
  font-size: 18px;
  color: black;
  font-family: OpenSans-SemiBold; }

/* start column 2 */
.column-2, .column-3, .column-4 {
  width: 230px;
  height: 200px;
  display: table;
  margin-left: -3px;
  margin-top: -40px;
  background-color: white;
  border-top: 0.5px solid rgba(185, 175, 175, 0.2);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  text-align: center;
  box-shadow: 0 0 0px 0px white, 0 0 0px 0px white, 0px 0 11px 0px rgba(0, 0, 0, 0.1), 0px 0 0px 0px rgba(0, 0, 0, 0.15); }
  .column-2 img, .column-3 img, .column-4 img {
    margin: 27px 19px 5px; }
  .column-2 span, .column-3 span, .column-4 span {
    position: absolute;
    transform: translate(-195%, -5%);
    font-size: 22px;
    font-weight: bold;
    color: rgba(58, 55, 53, 0.7); }
  .column-2 .t-head, .column-3 .t-head, .column-4 .t-head {
    font-size: 20px;
    margin-top: 47px;
    font-family: sansRegular; }
  .column-2 .cell-1, .column-3 .cell-1, .column-4 .cell-1 {
    height: 379px; }
  .column-2 .cell-1 :nth-child(4), .column-3 .cell-1 :nth-child(4), .column-4 .cell-1 :nth-child(4) {
    font-size: 18px;
    color: #A9A9A9;
    margin-top: 10px; }
  .column-2 .cell-1 :nth-child(5), .column-3 .cell-1 :nth-child(5), .column-4 .cell-1 :nth-child(5) {
    font-size: 16px;
    color: #cd3907;
    font-style: italic;
    font-family: sansRegular; }
  .column-2 .limited, .column-3 .limited, .column-4 .limited {
    margin-top: 20px;
    position: relative; }
    .column-2 .limited i, .column-3 .limited i, .column-4 .limited i {
      color: #3985FE;
      font-size: 23px;
      margin-top: 15px; }
  .column-2 .cell-2, .column-3 .cell-2, .column-4 .cell-2, .column-2 .column-5 .cell-4, .column-5 .column-2 .cell-4, .column-3 .column-5 .cell-4, .column-5 .column-3 .cell-4, .column-4 .column-5 .cell-4, .column-5 .column-4 .cell-4, .column-2 .cell-3, .column-3 .cell-3, .column-4 .cell-3, .column-2 .column-5 .cell-5, .column-5 .column-2 .cell-5, .column-3 .column-5 .cell-5, .column-5 .column-3 .cell-5, .column-4 .column-5 .cell-5, .column-5 .column-4 .cell-5, .column-2 .cell-4, .column-3 .cell-4, .column-4 .cell-4, .column-2 .cell-5, .column-3 .cell-5, .column-4 .cell-5 {
    height: 80px;
    font-size: 23px;
    color: #3985FE;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .column-2 .cell-4, .column-3 .cell-4, .column-4 .cell-4 {
    position: relative; }
    .column-2 .cell-4 i, .column-3 .cell-4 i, .column-4 .cell-4 i {
      font-size: 23px;
      color: #3985FE; }
  .column-2 .cell-6, .column-3 .cell-6, .column-4 .cell-6 {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    color: #A9A9A9; }
  .column-2 .cell-7, .column-3 .cell-7, .column-4 .cell-7, .column-2 .column-1 .cell-8, .column-1 .column-2 .cell-8, .column-3 .column-1 .cell-8, .column-1 .column-3 .cell-8, .column-4 .column-1 .cell-8, .column-1 .column-4 .cell-8 {
    display: flex;
    height: 180px;
    flex-direction: column; }
    .column-2 .cell-7 p, .column-3 .cell-7 p, .column-4 .cell-7 p, .column-2 .column-1 .cell-8 p, .column-1 .column-2 .cell-8 p, .column-3 .column-1 .cell-8 p, .column-1 .column-3 .cell-8 p, .column-4 .column-1 .cell-8 p, .column-1 .column-4 .cell-8 p {
      font-family: OpenSans-SemiBold;
      font-size: 18px;
      margin-top: 20px;
      margin-bottom: 40px; }
  .column-2 button, .column-3 button, .column-4 button {
    margin-top: 10px; }
    .column-2 button:hover, .column-3 button:hover, .column-4 button:hover {
      color: #fff; }

.column-3, .column-4 {
  margin-top: -65px; }
  .column-3 img, .column-4 img {
    margin: 27px 19px 5px; }
  .column-3 span, .column-4 span {
    position: absolute;
    font-size: 22px;
    font-weight: bold;
    color: rgba(58, 55, 53, 0.7);
    transform: translate(-175%, -18%); }
  .column-3 .t-head, .column-4 .t-head {
    font-size: 20px;
    margin-top: 72px;
    font-family: sansRegular; }
  .column-3 .cell-1, .column-4 .cell-1 {
    height: 379px; }
    .column-3 .cell-1 :nth-child(4), .column-4 .cell-1 :nth-child(4) {
      font-size: 18px;
      color: #A9A9A9;
      margin-top: 5px; }
    .column-3 .cell-1 :nth-child(5), .column-4 .cell-1 :nth-child(5) {
      font-size: 16px;
      color: #cd3907;
      font-style: italic;
      font-family: sansRegular; }
  .column-3 .limited, .column-4 .limited {
    margin-top: 20px;
    position: relative; }
    .column-3 .limited i, .column-4 .limited i {
      color: #89C23E;
      font-size: 23px;
      margin-top: 15px; }
  .column-3 .cell-2, .column-4 .cell-2, .column-3 .column-5 .cell-4, .column-5 .column-3 .cell-4, .column-4 .column-5 .cell-4, .column-5 .column-4 .cell-4, .column-3 .cell-3, .column-4 .cell-3, .column-3 .column-5 .cell-5, .column-5 .column-3 .cell-5, .column-4 .column-5 .cell-5, .column-5 .column-4 .cell-5, .column-3 .cell-4, .column-4 .cell-4, .column-3 .cell-5, .column-4 .cell-5, .column-3 .cell-6, .column-4 .cell-6 {
    height: 80px;
    font-size: 23px;
    color: #89C23E;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .column-3 .cell-4 i, .column-4 .cell-4 i {
    font-size: 23px;
    color: #89C23E; }
  .column-3 .cell-6, .column-4 .cell-6 {
    position: relative; }
    .column-3 .cell-6 div :nth-child(1), .column-4 .cell-6 div :nth-child(1) {
      text-decoration: line-through;
      color: black;
      font-size: 18px;
      display: inline;
      font-family: OpenSans-Semibold; }
    .column-3 .cell-6 div :nth-child(2), .column-4 .cell-6 div :nth-child(2) {
      color: black;
      font-size: 18px;
      display: inline;
      font-family: OpenSans-Semibold; }
  .column-3 .limit, .column-4 .limit {
    font-size: 14px;
    color: #979797;
    font-family: sansRegular; }
  .column-3 .cell-7, .column-4 .cell-7, .column-3 .column-1 .cell-8, .column-1 .column-3 .cell-8, .column-4 .column-1 .cell-8, .column-1 .column-4 .cell-8 {
    display: flex;
    height: 200px;
    flex-direction: column; }
    .column-3 .cell-7 p, .column-4 .cell-7 p, .column-3 .column-1 .cell-8 p, .column-1 .column-3 .cell-8 p, .column-4 .column-1 .cell-8 p, .column-1 .column-4 .cell-8 p {
      font-family: OpenSans-SemiBold;
      font-size: 18px;
      margin-top: 20px;
      margin-bottom: 40px; }
  .column-3 button, .column-4 button {
    background-color: #89C23E;
    margin-top: 10px; }
    .column-3 button:hover, .column-4 button:hover, .column-3 button :focus, .column-4 button :focus, .column-3 button :active, .column-4 button :active {
      background-color: #77ad30; }

.column-4 {
  margin-top: -90px; }
  .column-4 img {
    margin: 23px 19px 5px; }
  .column-4 span {
    position: absolute;
    font-size: 22px;
    font-weight: bold;
    color: rgba(58, 55, 53, 0.7);
    transform: translate(-300%, -30%); }
  .column-4 .t-head {
    font-size: 20px;
    margin-top: 97px;
    font-family: sansRegular; }
  .column-4 .cell-1 {
    height: 379px; }
    .column-4 .cell-1 :nth-child(4) {
      font-size: 18px;
      color: #A9A9A9;
      margin-top: 5px; }
    .column-4 .cell-1 :nth-child(5) {
      font-size: 16px;
      color: #cd3907;
      font-style: italic;
      font-family: sansRegular; }
  .column-4 .limited {
    margin-top: 20px;
    position: relative; }
    .column-4 .limited i {
      color: #EC4D12;
      font-size: 23px;
      margin-top: 15px; }
  .column-4 .cell-2, .column-4 .column-5 .cell-4, .column-5 .column-4 .cell-4, .column-4 .cell-3, .column-4 .column-5 .cell-5, .column-5 .column-4 .cell-5, .column-4 .cell-4, .column-4 .cell-5, .column-4 .cell-6 {
    height: 80px;
    font-size: 23px;
    color: #EC4D12;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .column-4 .cell-4 {
    position: relative; }
    .column-4 .cell-4 i {
      font-size: 23px;
      color: #EC4D12; }
  .column-4 .cell-6 {
    position: relative; }
    .column-4 .cell-6 div :nth-child(1) {
      text-decoration: line-through;
      color: black;
      font-size: 18px;
      display: inline;
      font-family: OpenSans-Semibold; }
    .column-4 .cell-6 div :nth-child(2) {
      color: black;
      font-size: 18px;
      display: inline;
      font-family: OpenSans-Semibold; }
  .column-4 .cell-7, .column-4 .column-1 .cell-8, .column-1 .column-4 .cell-8 {
    display: flex;
    height: 220px;
    flex-direction: column; }
    .column-4 .cell-7 p, .column-4 .column-1 .cell-8 p, .column-1 .column-4 .cell-8 p {
      font-family: OpenSans-SemiBold;
      font-size: 18px;
      margin-top: 20px;
      margin-bottom: 40px; }
  .column-4 button {
    background-color: #EC4D12;
    margin-top: 10px; }
    .column-4 button:hover, .column-4 button :focus, .column-4 button :active {
      background-color: #dd4209;
      color: #fff; }

/* column 5 */
.column-5 {
  width: 230px;
  display: table;
  margin-left: -3px;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  border: 0.5px solid rgba(185, 175, 175, 0.2);
  margin-top: -115px;
  background-color: #2c2c2c;
  position: relative;
  text-align: center;
  box-shadow: 0 0 0px 0px white, 0 0 0px 0px white, 0px 0 11px 0px rgba(0, 0, 0, 0.1), 0px 0 0px 0px rgba(0, 0, 0, 0.15); }
  .column-5 hr {
    background: #535353; }
  .column-5 img {
    margin: 27px 19px 5px; }
  .column-5 span {
    position: absolute;
    top: 218px;
    left: 91px;
    font-size: 22px;
    font-weight: bold;
    color: rgba(58, 55, 53, 0.7); }
  .column-5 .t-head {
    font-size: 20px;
    margin-top: 122px;
    font-family: sansRegular;
    color: #fff; }
  .column-5 .cell-1 {
    height: 379px; }
    .column-5 .cell-1 p {
      font-size: 30px;
      color: #A9A9A9;
      margin: 30px 0;
      font-family: Georgiabold;
      color: #fff;
      letter-spacing: 1pxك; }
    .column-5 .cell-1 .limited {
      position: relative; }
      .column-5 .cell-1 .limited p {
        font-size: 14px;
        color: #979797;
        font-family: sansRegular;
        margin: 0 0; }
      .column-5 .cell-1 .limited i {
        margin-top: 38px;
        font-size: 23px;
        color: #979797; }
      .column-5 .cell-1 .limited span {
        transform: translate(320%, -943%); }
  .column-5 .cell-2, .column-5 .cell-4 {
    height: 80px;
    font-size: 23px;
    color: #979797;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .column-5 .cell-3, .column-5 .cell-5 {
    color: rgba(255, 255, 255, 0.8);
    font-family: OpenSans-SemiBold;
    font-size: 18px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .column-5 .cell-6 {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative; }
    .column-5 .cell-6 a {
      color: #cd3907;
      font-size: 18px;
      text-decoration: none;
      font-family: OpenSans-Bold; }
      .column-5 .cell-6 a:hover {
        color: #cd3907;
        text-decoration: none;
        cursor: pointer;
        font-family: OpenSans-Bold; }
  .column-5 .cell-7, .column-5 .column-1 .cell-8, .column-1 .column-5 .cell-8 {
    display: flex;
    height: 245px;
    flex-direction: column; }
    .column-5 .cell-7 p, .column-5 .column-1 .cell-8 p, .column-1 .column-5 .cell-8 p {
      font-family: OpenSans-SemiBold;
      font-size: 18px;
      margin-top: 20px;
      margin-bottom: 9px;
      color: rgba(255, 255, 255, 0.8); }
  .column-5 button {
    width: 170px;
    height: 42px;
    border-radius: 20px;
    margin-top: 15px;
    font-family: OpenSans-Bold;
    letter-spacing: 1px;
    background-color: rgba(236, 76, 18, 0.192);
    color: #EC4D12;
    border: 3px solid #EC4D12;
    font-size: 16px; }
    .column-5 button:hover {
      color: #EC4D12;
      background-color: rgba(119, 32, 0, 0.192); }

/* end table pricing */
/* Start Table In Mobile And Tablet*/
/* this column for all Table */
.btn-cust {
  color: #fff;
  text-decoration: none;
  padding: 0 80px; }
  .btn-cust:hover, .btn-cust :focus, .btn-cust :active {
    color: #fff;
    text-decoration: none;
    outline: none;
    box-shadow: none; }

.table-1-mob .col-1-mob .cell-1-mob, .table-2-mob .col-1-mob .cell-1-mob, .table-3-mob .col-1-mob .cell-1-mob, .table-4-mob .col-1-mob .cell-1-mob {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-left-radius: 1rem;
  background-color: #f4f4f4;
  text-align: left;
  padding-left: 18px;
  font-family: OpenSans-SemiBold;
  height: 116px;
  font-size: 14px; }
  .table-1-mob .col-1-mob .cell-1-mob span, .table-2-mob .col-1-mob .cell-1-mob span, .table-3-mob .col-1-mob .cell-1-mob span, .table-4-mob .col-1-mob .cell-1-mob span {
    color: #cd3907;
    font-family: OpenSans-Italic;
    font-size: 14px; }

.table-1-mob .col-1-mob .cell-2-mob, .table-2-mob .col-1-mob .cell-2-mob, .table-3-mob .col-1-mob .cell-2-mob, .table-4-mob .col-1-mob .cell-2-mob, .table-1-mob .col-1-mob .table-4-mob .tab-4-col-2-mob .cell-4-mob, .table-2-mob .col-1-mob .table-4-mob .tab-4-col-2-mob .cell-4-mob, .table-3-mob .col-1-mob .table-4-mob .tab-4-col-2-mob .cell-4-mob, .table-4-mob .col-1-mob .tab-4-col-2-mob .cell-4-mob, .table-4-mob .tab-4-col-2-mob .col-1-mob .cell-4-mob,
.table-1-mob .col-1-mob .cell-4-mob,
.table-2-mob .col-1-mob .cell-4-mob,
.table-3-mob .col-1-mob .cell-4-mob,
.table-4-mob .col-1-mob .cell-4-mob,
.table-1-mob .col-1-mob .cell-6-mob,
.table-2-mob .col-1-mob .cell-6-mob,
.table-3-mob .col-1-mob .cell-6-mob,
.table-4-mob .col-1-mob .cell-6-mob {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F9F9F9 !important;
  color: #000;
  height: 116px;
  text-align: left;
  padding-left: 18px;
  font-family: OpenSans-SemiBold;
  font-size: 14px; }

.table-1-mob .col-1-mob .cell-3-mob, .table-2-mob .col-1-mob .cell-3-mob, .table-3-mob .col-1-mob .cell-3-mob, .table-4-mob .col-1-mob .cell-3-mob, .table-1-mob .col-1-mob .table-4-mob .tab-4-col-2-mob .cell-5-mob, .table-2-mob .col-1-mob .table-4-mob .tab-4-col-2-mob .cell-5-mob, .table-3-mob .col-1-mob .table-4-mob .tab-4-col-2-mob .cell-5-mob, .table-4-mob .col-1-mob .tab-4-col-2-mob .cell-5-mob, .table-4-mob .tab-4-col-2-mob .col-1-mob .cell-5-mob,
.table-1-mob .col-1-mob .cell-5-mob,
.table-2-mob .col-1-mob .cell-5-mob,
.table-3-mob .col-1-mob .cell-5-mob,
.table-4-mob .col-1-mob .cell-5-mob {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f4f4f4;
  text-align: left;
  padding-left: 18px;
  font-family: OpenSans-SemiBold;
  height: 116px;
  font-size: 14px; }
  .table-1-mob .col-1-mob .cell-3-mob span, .table-2-mob .col-1-mob .cell-3-mob span, .table-3-mob .col-1-mob .cell-3-mob span, .table-4-mob .col-1-mob .cell-3-mob span, .table-1-mob .col-1-mob .table-4-mob .tab-4-col-2-mob .cell-5-mob span, .table-2-mob .col-1-mob .table-4-mob .tab-4-col-2-mob .cell-5-mob span, .table-3-mob .col-1-mob .table-4-mob .tab-4-col-2-mob .cell-5-mob span, .table-4-mob .col-1-mob .tab-4-col-2-mob .cell-5-mob span, .table-4-mob .tab-4-col-2-mob .col-1-mob .cell-5-mob span,
  .table-1-mob .col-1-mob .cell-5-mob span,
  .table-2-mob .col-1-mob .cell-5-mob span,
  .table-3-mob .col-1-mob .cell-5-mob span,
  .table-4-mob .col-1-mob .cell-5-mob span {
    color: #cd3907;
    font-family: OpenSans-Italic;
    font-size: 14px; }

.table-1-mob .col-1-mob .cell-7-mob, .table-2-mob .col-1-mob .cell-7-mob, .table-3-mob .col-1-mob .cell-7-mob, .table-4-mob .col-1-mob .cell-7-mob {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F4F4F4;
  border-bottom-left-radius: 1rem;
  text-align: left;
  padding-left: 18px;
  font-family: OpenSans-SemiBold;
  font-size: 14px;
  height: 116px; }

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  text-align: center;
  border: none;
  margin-bottom: 3rem; }

.card-header:first-child {
  border-radius: 2.8rem; }

.card-header {
  border: none;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }

.background-head-1 {
  background-color: #2e7dff; }

.background-head-2 {
  background-color: #8bc53f; }

.background-head-3 {
  background-color: #eb4e19; }

.background-head-4 {
  background-color: #2c2c2c; }

.t-head-mob {
  font-size: 18px;
  text-align: center;
  color: white; }
  .t-head-mob:hover {
    text-decoration: none; }

.pricing :first-child {
  font-size: 30px;
  text-align: left;
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: georgiaa; }

.pricing :last-child {
  font-size: 18px;
  text-align: left;
  font-family: sanslight;
  margin-bottom: 20px;
  opacity: .7;
  color: rgba(3, 1, 0, 0.7); }

.details {
  position: relative; }
  .details img {
    margin: 2rem 0;
    width: 30%; }
  .details .dolar-1 {
    color: #979797;
    font-size: 2.4rem;
    transform: translate(-194%, -10%);
    position: absolute;
    font-weight: 500; }
  .details .dolar-2 {
    color: #979797;
    font-size: 2.4rem;
    transform: translate(-327%, -10%);
    position: absolute;
    font-weight: 500; }
  .details .prici-num-1 {
    font-size: 45px;
    color: #3985FE;
    font-family: Georgiabold; }
  .details .prici-num-2 {
    font-size: 45px;
    color: #8bc53f;
    font-family: Georgiabold; }
  .details .prici-num-3 {
    font-size: 45px;
    color: #eb4e19;
    font-family: Georgiabold; }
  .details .prici-num-4 {
    font-size: 45px;
    color: #3985FE;
    font-family: Georgiabold; }
  .details p {
    color: #979797;
    font-size: 18px; }
  .details span {
    font-size: 16px;
    color: #cd3907;
    font-style: italic;
    font-family: sansRegular; }

.table-1-mob {
  margin-top: 4rem; }
  .table-1-mob .col-2-mob {
    box-shadow: 0 0 0px 0px white, 0 0 0px 0px white, 0px 0 11px 0px rgba(0, 0, 0, 0.1), 0px 0 0px 0px rgba(0, 0, 0, 0.15);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem; }
    .table-1-mob .col-2-mob .col-2-cell-1-mob, .table-1-mob .col-2-mob .col-2-cell-4-mob {
      position: relative;
      height: 116px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .table-1-mob .col-2-mob .col-2-cell-1-mob .limited i, .table-1-mob .col-2-mob .col-2-cell-4-mob .limited i {
        color: #3985FE;
        font-size: 23px;
        margin-bottom: 12px; }
      .table-1-mob .col-2-mob .col-2-cell-1-mob .limited p, .table-1-mob .col-2-mob .col-2-cell-4-mob .limited p {
        font-size: 16px;
        color: #979797;
        font-family: sansRegular;
        margin-top: 6px; }
      .table-1-mob .col-2-mob .col-2-cell-1-mob .limited span, .table-1-mob .col-2-mob .col-2-cell-4-mob .limited span {
        color: #eb4e19;
        font-family: sanslight;
        font-size: 14px;
        transform: translate(110%, -230%);
        position: absolute;
        font-weight: 800; }
    .table-1-mob .col-2-mob .col-2-cell-2-mob, .table-1-mob .col-2-mob .col-2-cell-3-mob {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 116px;
      color: #3985FE;
      font-size: 23px; }
    .table-1-mob .col-2-mob .col-2-cell-5-mob {
      height: 116px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .table-1-mob .col-2-mob .col-2-cell-5-mob p {
        font-family: OpenSans-SemiBold;
        font-size: 16px;
        margin: 10px 0; }
      .table-1-mob .col-2-mob .col-2-cell-5-mob :nth-child(2) {
        font-size: 16px;
        color: #979797;
        font-family: sansRegular; }
      .table-1-mob .col-2-mob .col-2-cell-5-mob span {
        color: #eb4e19;
        font-family: sanslight;
        font-size: 14px;
        transform: translate(110%, -268%);
        position: absolute;
        font-weight: 800; }
    .table-1-mob .col-2-mob .col-2-cell-6-mob {
      height: 116px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 40px;
      font-weight: bold;
      color: #A9A9A9; }
    .table-1-mob .col-2-mob .col-2-cell-7-mob {
      height: 116px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 18px;
      font-weight: bold; }
      .table-1-mob .col-2-mob .col-2-cell-7-mob button {
        background-color: #3985FE; }

/* Start Table 2 */
.table-2-mob {
  margin-top: 4rem; }
  .table-2-mob .col-2-mob {
    box-shadow: 0 0 0px 0px white, 0 0 0px 0px white, 0px 0 11px 0px rgba(0, 0, 0, 0.1), 0px 0 0px 0px rgba(0, 0, 0, 0.15);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem; }
    .table-2-mob .col-2-mob .col-2-cell-1-mob, .table-2-mob .col-2-mob .col-2-cell-4-mob {
      position: relative;
      height: 116px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .table-2-mob .col-2-mob .col-2-cell-1-mob .limited i, .table-2-mob .col-2-mob .col-2-cell-4-mob .limited i {
        color: #8bc53f;
        font-size: 23px;
        margin-bottom: 12px; }
      .table-2-mob .col-2-mob .col-2-cell-1-mob .limited p, .table-2-mob .col-2-mob .col-2-cell-4-mob .limited p {
        font-size: 16px;
        color: #979797;
        font-family: sansRegular;
        margin-top: 6px; }
      .table-2-mob .col-2-mob .col-2-cell-1-mob .limited span, .table-2-mob .col-2-mob .col-2-cell-4-mob .limited span {
        color: #eb4e19;
        font-family: sanslight;
        font-size: 14px;
        transform: translate(110%, -230%);
        position: absolute;
        font-weight: 800; }
    .table-2-mob .col-2-mob .col-2-cell-2-mob, .table-2-mob .col-2-mob .col-2-cell-3-mob {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 116px;
      color: #8bc53f;
      font-size: 23px; }
    .table-2-mob .col-2-mob .col-2-cell-5-mob {
      height: 116px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .table-2-mob .col-2-mob .col-2-cell-5-mob p {
        font-family: OpenSans-SemiBold;
        font-size: 16px;
        margin: 10px 0; }
      .table-2-mob .col-2-mob .col-2-cell-5-mob :nth-child(2) {
        font-size: 16px;
        color: #979797;
        font-family: sansRegular; }
      .table-2-mob .col-2-mob .col-2-cell-5-mob span {
        color: #cd3907;
        font-family: sanslight;
        font-size: 14px;
        transform: translate(120%, -271%);
        position: absolute;
        font-weight: 800; }
    .table-2-mob .col-2-mob .col-2-cell-6-mob {
      height: 116px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative; }
      .table-2-mob .col-2-mob .col-2-cell-6-mob span {
        color: #cd3907;
        position: absolute;
        font-family: sanslight;
        font-size: 14px;
        transform: translate(110%, -114%);
        font-weight: 800; }
    .table-2-mob .col-2-mob .limit {
      font-size: 14px;
      color: #979797;
      font-family: sansRegular; }
    .table-2-mob .col-2-mob .col-2-cell-7-mob {
      height: 116px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 18px;
      font-weight: bold; }
      .table-2-mob .col-2-mob .col-2-cell-7-mob button {
        background-color: #8bc53f; }

/* table-3 */
.table-3-mob {
  margin-top: 4rem; }
  .table-3-mob .col-2-mob {
    box-shadow: 0 0 0px 0px white, 0 0 0px 0px white, 0px 0 11px 0px rgba(0, 0, 0, 0.1), 0px 0 0px 0px rgba(0, 0, 0, 0.15);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem; }
    .table-3-mob .col-2-mob .col-2-cell-1-mob, .table-3-mob .col-2-mob .col-2-cell-4-mob {
      position: relative;
      height: 116px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .table-3-mob .col-2-mob .col-2-cell-1-mob .limited i, .table-3-mob .col-2-mob .col-2-cell-4-mob .limited i {
        color: #eb4e19;
        font-size: 23px;
        margin-bottom: 12px; }
      .table-3-mob .col-2-mob .col-2-cell-1-mob .limited p, .table-3-mob .col-2-mob .col-2-cell-4-mob .limited p {
        font-size: 16px;
        color: #979797;
        font-family: sansRegular;
        margin-top: 6px; }
      .table-3-mob .col-2-mob .col-2-cell-1-mob .limited span, .table-3-mob .col-2-mob .col-2-cell-4-mob .limited span {
        color: #eb4e19;
        font-family: sanslight;
        font-size: 14px;
        transform: translate(110%, -230%);
        position: absolute;
        font-weight: 800; }
    .table-3-mob .col-2-mob .col-2-cell-2-mob, .table-3-mob .col-2-mob .col-2-cell-3-mob {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 116px;
      color: #eb4e19;
      font-size: 23px; }
    .table-3-mob .col-2-mob .col-2-cell-5-mob {
      height: 116px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .table-3-mob .col-2-mob .col-2-cell-5-mob p {
        font-family: OpenSans-SemiBold;
        font-size: 16px;
        margin-bottom: 15px; }
      .table-3-mob .col-2-mob .col-2-cell-5-mob :nth-child(2) {
        font-size: 16px;
        color: #979797;
        font-family: sansRegular; }
      .table-3-mob .col-2-mob .col-2-cell-5-mob span {
        color: #cd3907;
        font-family: sanslight;
        font-size: 14px;
        transform: translate(103%, -274%);
        position: absolute;
        font-weight: 800; }
    .table-3-mob .col-2-mob .col-2-cell-6-mob {
      height: 116px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative; }
      .table-3-mob .col-2-mob .col-2-cell-6-mob span {
        color: #cd3907;
        position: absolute;
        font-family: sanslight;
        font-size: 14px;
        transform: translate(130%, -112%);
        font-weight: 800; }
    .table-3-mob .col-2-mob .limit {
      font-size: 14px;
      color: #979797;
      font-family: sansRegular; }
    .table-3-mob .col-2-mob .col-2-cell-7-mob {
      height: 116px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 18px;
      font-weight: bold; }
  .table-3-mob button {
    background-color: #eb4e19; }

/* table-4 */
.table-4-mob {
  margin-top: 4rem; }
  .table-4-mob .tab-4-col-2-mob {
    background-color: #2c2c2c;
    box-shadow: 0 0 0px 0px white, 0 0 0px 0px white, 0px 0 11px 0px rgba(0, 0, 0, 0.1), 0px 0 0px 0px rgba(0, 0, 0, 0.15);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem; }
    .table-4-mob .tab-4-col-2-mob hr {
      background: #535353; }
    .table-4-mob .tab-4-col-2-mob .cell-1-mob {
      height: 116px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .table-4-mob .tab-4-col-2-mob .cell-1-mob p {
        font-size: 30px;
        color: #A9A9A9;
        margin: 35px 0;
        font-family: Georgiabold;
        color: #fff;
        letter-spacing: 1pxك; }
      .table-4-mob .tab-4-col-2-mob .cell-1-mob .limited {
        position: relative; }
        .table-4-mob .tab-4-col-2-mob .cell-1-mob .limited p {
          font-size: 14px;
          color: #979797;
          font-family: sansRegular;
          margin: 0 0; }
        .table-4-mob .tab-4-col-2-mob .cell-1-mob .limited i {
          font-size: 23px;
          color: #979797;
          margin-top: 10px; }
        .table-4-mob .tab-4-col-2-mob .cell-1-mob .limited span {
          color: #cd3907;
          position: absolute;
          font-family: sanslight;
          font-size: 14px;
          transform: translate(250%, -191%); }
    .table-4-mob .tab-4-col-2-mob .cell-2-mob, .table-4-mob .tab-4-col-2-mob .cell-4-mob {
      height: 116px;
      font-size: 23px;
      color: #979797;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .table-4-mob .tab-4-col-2-mob .cell-3-mob, .table-4-mob .tab-4-col-2-mob .cell-5-mob {
      color: rgba(255, 255, 255, 0.8);
      font-family: OpenSans-SemiBold;
      font-size: 14px;
      height: 116px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .table-4-mob .tab-4-col-2-mob .cell-6-mob {
      height: 116px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative; }
      .table-4-mob .tab-4-col-2-mob .cell-6-mob a {
        color: #cd3907;
        font-size: 14px;
        text-decoration: none;
        font-family: OpenSans-Bold; }
        .table-4-mob .tab-4-col-2-mob .cell-6-mob a:hover {
          color: #cd3907;
          text-decoration: none;
          cursor: pointer;
          font-family: OpenSans-Bold; }
    .table-4-mob .tab-4-col-2-mob .cell-7-mob {
      display: flex;
      height: 116px;
      flex-direction: column; }
      .table-4-mob .tab-4-col-2-mob .cell-7-mob p {
        font-family: OpenSans-SemiBold;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: rgba(255, 255, 255, 0.8); }
    .table-4-mob .tab-4-col-2-mob button {
      width: 110px;
      height: 40px;
      border-radius: 20px;
      font-family: OpenSans-Bold;
      letter-spacing: 1px;
      background-color: transparent;
      color: #EC4D12;
      border: 2px solid #EC4D12;
      font-size: 14px; }

.imgBgHead .btn-sign-in {
  outline: none;
  border: none;
  cursor: pointer; }

.imgBgHead .btn-sign-in:active, .imgBgHead .sec-logo .btn-get:active, .valuse .aside-right button:active, .valuse-mob1 button:active, .our-community .our-community1 button:active {
  transform: translateY(4px); }

.imgBgHead .btn-sign-in:focus, .imgBgHead .sec-logo .btn-get:focus, .valuse .aside-right button:focus, .valuse-mob1 button:focus {
  outline: none; }

.about {
  background-color: #141313;
  width: 100%;
  height: 46rem;
  color: white;
  padding-top: 7rem;
  padding-bottom: 2rem; }
  @media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .about {
      height: 180rem; } }
  @media only screen and (min-width: 576px) and (max-width: 767.98px) {
    .about {
      height: 110rem; } }
  .about .address-link {
    font-family: sansBold;
    font-size: 2rem; }
    .about .address-link a {
      font-size: 1.7rem;
      color: #d7d3d1;
      font-family: sanslight;
      text-decoration: none;
      margin: 1rem 0;
      display: flex; }
  .about .btn-sign {
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    width: 11rem;
    height: 4rem;
    font-family: sansBold;
    font-size: 1.8rem;
    margin-top: 1.8rem;
    border-style: solid;
    border-color: #ffffff; }
    .about .btn-sign :hover,
    .about .btn-sign :active,
    .about .btn-sign :focus {
      outline: none;
      box-shadow: none;
      border: none; }
  .about .send-message .address-link {
    margin-left: 2rem; }
  @media only screen and (min-width: 576px) and (max-width: 767.98px) {
    .about .send-message {
      margin-top: 4rem; } }
  @media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .about .send-message {
      margin-top: 4rem; } }
  .about .send-message .form-input {
    border: 1px solid #333;
    border-radius: .7rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    margin-top: 2rem; }
    @media only screen and (min-width: 576px) and (max-width: 767.98px) {
      .about .send-message .form-input {
        width: 34rem;
        margin-left: 2rem; } }
    .about .send-message .form-input .black-input {
      margin: 1rem 0;
      border: none;
      outline: none;
      border-bottom: 1px solid #e9e5de;
      background-color: #141313;
      color: #e9e5de;
      font-size: 1.8rem;
      font-family: sansRegular; }
  .about .send-message .btn-sub {
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    width: 11rem;
    height: 4rem;
    font-family: sansBold;
    font-size: 1.8rem;
    margin-top: 1.8rem;
    border-style: solid;
    border-color: #ffffff; }
  .about .contact {
    padding-left: 10rem; }
    @media only screen and (min-width: 768px) and (max-width: 991.98px) {
      .about .contact {
        margin-top: 2rem;
        padding-left: 0; } }
    @media only screen and (min-width: 576px) and (max-width: 767.98px) {
      .about .contact {
        margin-top: 2rem;
        margin-left: 2rem;
        padding-left: 0; } }
    .about .contact .address-link {
      font-family: sansBold;
      font-size: 2rem; }
    .about .contact .contact-social {
      margin: 1.5rem 0; }
      .about .contact .contact-social p {
        font-size: 1.7rem;
        color: #d7d3d1;
        font-family: sanslight; }
    .about .contact i {
      margin-bottom: 2rem;
      cursor: pointer;
      font-size: 2rem;
      color: rgba(255, 255, 255, 0.479); }
      .about .contact i:hover {
        color: #fff;
        transition: all 1.4s ease; }
    .about .contact .line-content {
      margin: 2rem 0;
      width: 90%;
      border: .1rem solid #333; }
      @media only screen and (min-width: 768px) and (max-width: 991.98px) {
        .about .contact .line-content {
          width: 29%; } }
      @media only screen and (min-width: 576px) and (max-width: 767.98px) {
        .about .contact .line-content {
          width: 60.5%;
          display: block; } }
    .about .contact input {
      height: 4rem;
      font-size: 1.8rem; }

/* stert footer */
footer {
  display: flex;
  align-items: center;
  background-color: #1e1e1e;
  height: 9rem;
  width: 100%; }

footer .nav-link {
  display: inline;
  align-items: center;
  color: #d8d8d8;
  font-size: 1.8rem;
  opacity: .7;
  margin: auto 0; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  margin-top: 0rem; }

html {
  font-size: 62.5%; }

@font-face {
  font-family: sansBold;
  src: url("../fonts/OpenSans/OpenSans-SemiBold.ttf"); }

@font-face {
  font-family: sanslight;
  src: url("../fonts/OpenSans/OpenSans-Light_0.ttf"); }

@font-face {
  font-family: sansRegular;
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf"); }

@font-face {
  font-family: Georgiabold;
  src: url("../fonts/Georgia/georgiab.ttf"); }

@font-face {
  font-family: extaBold;
  src: url("../fonts/OpenSans/OpenSans-ExtraBold.ttf"); }

@font-face {
  font-family: georgiaa;
  src: url("../fonts/Georgia/georgia.ttf"); }

/*end navbar*/
.imgBgHead {
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/bg.png");
  /*start section 2*/ }
  .imgBgHead .btn-sign-in {
    width: 9.7rem;
    height: 3.7rem;
    font-size: 1.8rem;
    font-family: sansRegular;
    background-color: #eb4e19;
    color: #fff;
    margin-top: -1.4rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    border-radius: 2rem; }
  .imgBgHead .sec-logo {
    margin-top: 8rem;
    position: relative; }
    .imgBgHead .sec-logo .par-logo {
      font-size: 3rem;
      color: rgba(250, 250, 250, 0.75);
      margin-top: 4rem;
      margin-bottom: 5.5rem;
      line-height: 1.4; }
      @media only screen and (min-width: 576px) and (max-width: 767.98px) {
        .imgBgHead .sec-logo .par-logo {
          font-size: 2.5rem; } }
    .imgBgHead .sec-logo .btn-get {
      width: 14rem;
      height: 4.5rem;
      font-size: 1.8rem;
      font-family: sansBold;
      box-shadow: none;
      background-color: transparent;
      color: #2e7dff;
      border-color: #2e7dff; }
      .imgBgHead .sec-logo .btn-get :hover {
        cursor: pointer; }
    .imgBgHead .sec-logo .img-gif {
      position: absolute;
      top: 6rem;
      right: 130rem; }
  .imgBgHead .section2 {
    margin-top: 40rem; }
    .imgBgHead .section2 .img-backend {
      margin-top: 2rem; }
    .imgBgHead .section2 .h-backend {
      font-size: 3rem;
      font-family: Georgiabold; }
    .imgBgHead .section2 .par-backend {
      font-size: 2rem;
      font-family: sansRegular;
      margin-top: 3.5rem;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 3.5rem;
      color: rgba(3, 1, 0, 0.7); }

.backend-mob {
  margin-top: -10rem; }
  .backend-mob h1 {
    font-size: 2.8rem;
    font-family: Georgiabold; }
  .backend-mob img {
    margin: 2rem 0;
    width: 60%; }
  .backend-mob p {
    text-align: center;
    font-size: 1.6rem;
    font-family: sansRegular;
    color: rgba(3, 1, 0, 0.7);
    text-overflow: ellipsis; }

.valuse {
  width: 100vw;
  height: 110vw;
  background-size: cover;
  margin-top: 13rem;
  margin-bottom: -28rem;
  background-repeat: no-repeat;
  background-image: url("../../dist/img/path-1.svg"); }
  .valuse .aside-left {
    margin-top: 17rem; }
    .valuse .aside-left .Business {
      margin-top: -4rem;
      font-size: 2.8rem;
      font-family: Georgiabold;
      color: #1e1e1e; }
      @media only screen and (min-width: 768px) and (max-width: 991.98px) {
        .valuse .aside-left .Business {
          font-size: 2.3rem; } }
    .valuse .aside-left .h-vlause {
      font-family: sansBold;
      margin-top: 6rem;
      font-size: 1.9rem;
      color: rgba(3, 1, 0, 0.85);
      opacity: 0.85; }
      @media only screen and (min-width: 768px) and (max-width: 991.98px) {
        .valuse .aside-left .h-vlause {
          font-size: 1.7rem;
          margin-top: 2rem; } }
    .valuse .aside-left .par-valuse {
      font-family: sansRegular;
      opacity: 0.7;
      color: rgba(3, 1, 0, 0.7);
      font-size: 1.6rem;
      margin-top: 2rem; }
      @media only screen and (min-width: 768px) and (max-width: 991.98px) {
        .valuse .aside-left .par-valuse {
          font-size: 1.4rem; } }
  .valuse .img-valuse {
    height: 95rem;
    margin-top: 14rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../dist/img/valuse.svg"); }
    @media only screen and (min-width: 768px) and (max-width: 991.98px) {
      .valuse .img-valuse {
        background-size: contain; } }
  .valuse .aside-right {
    margin-top: 7rem; }
    .valuse .aside-right .h-vlause {
      font-family: sansBold;
      margin-top: 6rem;
      font-size: 1.9rem;
      color: rgba(3, 1, 0, 0.85);
      opacity: 0.85; }
      @media only screen and (min-width: 768px) and (max-width: 991.98px) {
        .valuse .aside-right .h-vlause {
          margin-top: 3rem;
          font-size: 1.7rem; } }
    .valuse .aside-right .par-valuse {
      font-family: sansRegular;
      opacity: 0.7;
      color: rgba(3, 1, 0, 0.7);
      font-size: 1.6rem;
      margin-top: 2rem; }
      @media only screen and (min-width: 768px) and (max-width: 991.98px) {
        .valuse .aside-right .par-valuse {
          margin-top: 1.5rem;
          font-size: 1.4rem; } }
    .valuse .aside-right button {
      margin-top: 5rem;
      width: 14rem;
      height: 4.5rem;
      font-size: 1.8rem;
      font-family: sansBold;
      background-color: #2e7dff;
      color: #fff;
      border-style: none; }
      .valuse .aside-right button:hover {
        cursor: pointer; }

.valuse-mob1 {
  margin-top: 5rem; }
  .valuse-mob1 .scalable :nth-child(2) {
    font-size: 2.5rem;
    margin-top: 2rem;
    opacity: 0.85; }
  .valuse-mob1 img {
    width: 40%; }
  .valuse-mob1 .scalable :nth-child(3) {
    font-size: 1.6rem;
    color: rgba(3, 1, 0, 0.7);
    opacity: 0.7;
    margin-bottom: 5rem; }
  .valuse-mob1 button {
    margin-top: -4rem;
    width: 14rem;
    height: 4.5rem;
    font-size: 1.8rem;
    font-family: sansBold;
    background-color: #2e7dff;
    color: #fff;
    border-style: none;
    margin-bottom: 5rem; }

/* start product qua node */
.product-qn {
  margin: 7rem 0; }
  .product-qn .par-qn {
    font-size: 2.8rem;
    font-family: georgiaa; }
    .product-qn .par-qn span {
      font-size: 3rem;
      font-family: Georgiabold; }

.slider1 {
  height: auto;
  width: 100%; }
  .slider1 .block-1 .greey-bg1 {
    margin: auto 0;
    height: 16rem;
    width: 10rem;
    background-color: #e9e9e9;
    border-radius: 2rem;
    z-index: 0; }
  .slider1 .block-1 .greey-bg2 {
    margin: auto 0;
    height: 19rem;
    width: 26rem;
    background-color: #f1f1f1;
    border-radius: 2rem;
    z-index: 2;
    margin-left: -6rem;
    padding: 0 2rem;
    animation: back 5s infinite; }
  .slider1 .block-1 .ani-left {
    display: flex;
    align-items: center;
    margin: auto 0;
    height: 23rem;
    width: 30rem;
    background-color: #f8f8f8;
    border-radius: 2rem;
    margin-left: -22rem;
    z-index: 3;
    padding: 0 2rem;
    animation: behind 5s infinite; }
  .slider1 .block-2 {
    display: flex;
    align-items: center;
    margin: auto 0;
    height: 23rem;
    padding: 0 2rem;
    background-color: #f8f8f8;
    border-radius: 2rem;
    padding: 0 2rem;
    margin-left: -7.7rem;
    width: 31rem; }
    @media only screen and (min-width: 576px) and (max-width: 767.98px) {
      .slider1 .block-2 {
        margin: auto; } }
    .slider1 .block-2 img {
      margin-left: 3rem; }
  .slider1 .block-3 .ani-right {
    display: flex;
    align-items: center;
    margin: auto 0;
    height: 23rem;
    width: 30rem;
    background-color: #f8f8f8;
    border-radius: 2rem;
    z-index: 3;
    padding: 0 2rem;
    margin-left: 6rem;
    margin-right: -20rem; }
  .slider1 .block-3 .greey-bg3 {
    display: block;
    margin: auto 0;
    height: 19rem;
    width: 26rem;
    background-color: #f1f1f1;
    border-radius: 2rem;
    z-index: 2;
    margin-right: -5rem;
    padding: 0 2rem; }
  .slider1 .block-3 .greey-bg4 {
    margin: auto 0;
    height: 16rem;
    width: 10rem;
    background-color: #e9e9e9;
    border-radius: 2rem;
    z-index: 0; }

.slider2 {
  height: auto;
  width: 100%; }
  .slider2 .block1-sl2 .greey-bg1 {
    margin: auto 0;
    height: 16rem;
    width: 10rem;
    background-color: #e9e9e9;
    border-radius: 2rem;
    z-index: 0;
    opacity: .4; }
  .slider2 .block1-sl2 .item-back {
    margin: auto 0;
    height: 21rem;
    width: 26rem;
    background-color: #f1f1f1;
    border-radius: 2rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: -6rem;
    padding: 0 2rem;
    opacity: .7; }
    .slider2 .block1-sl2 .item-back img {
      right: 4rem;
      top: -7rem; }
    .slider2 .block1-sl2 .item-back .name-design {
      font-family: sansBold;
      font-size: 2rem; }
    .slider2 .block1-sl2 .item-back .jop-design {
      font-size: 2rem;
      font-family: sansRegular; }
    .slider2 .block1-sl2 .item-back .par-design {
      font-size: 1.3rem;
      font-family: sansRegular; }
  .slider2 .block1-sl2 .item-behind-left {
    height: 25rem;
    width: 30rem;
    background-color: #f8f8f8;
    border-radius: 2rem;
    /* margin: 0 1rem; */
    display: flex;
    align-content: center;
    flex-direction: column;
    margin-left: -22rem;
    z-index: 3;
    padding: 0 2rem; }
    .slider2 .block1-sl2 .item-behind-left img {
      right: 3rem;
      top: -6rem; }
    .slider2 .block1-sl2 .item-behind-left .name-design {
      font-family: sansBold;
      font-size: 2rem; }
    .slider2 .block1-sl2 .item-behind-left .jop-design {
      font-size: 2rem;
      font-family: sansRegular; }
    .slider2 .block1-sl2 .item-behind-left .par-design {
      font-size: 1.5rem;
      font-family: sansRegular; }
  .slider2 .block2-sl2 {
    height: 25rem;
    background-color: #f8f8f8;
    border-radius: 2rem;
    /* margin: 0 1rem; */
    display: flex;
    /* align-content: center; */
    /* flex-direction: column; */
    padding: 0 2rem;
    width: 31rem;
    margin-left: -8rem; }
    @media only screen and (min-width: 576px) and (max-width: 767.98px) {
      .slider2 .block2-sl2 {
        margin: auto; } }
    .slider2 .block2-sl2 .item-center img {
      right: 1rem;
      top: -7rem; }
    .slider2 .block2-sl2 .item-center .name-design {
      font-family: sansBold;
      font-size: 2rem; }
    .slider2 .block2-sl2 .item-center .jop-design {
      font-size: 2rem;
      font-family: sansRegular; }
    .slider2 .block2-sl2 .item-center .par-design {
      font-size: 1.5rem;
      font-family: sansRegular; }
  .slider2 .block3-sl2 .item-behind-right {
    height: 25rem;
    width: 31rem;
    background-color: #f8f8f8;
    border-radius: 2rem;
    /* margin: 0 1rem; */
    display: flex;
    align-content: center;
    flex-direction: column;
    z-index: 3;
    padding: 0 2rem;
    margin-left: 6rem; }
    .slider2 .block3-sl2 .item-behind-right img {
      right: 3rem;
      top: -7rem; }
    .slider2 .block3-sl2 .item-behind-right .name-design {
      font-family: sansBold;
      font-size: 2rem; }
    .slider2 .block3-sl2 .item-behind-right .jop-design {
      font-size: 2rem;
      font-family: sansRegular; }
    .slider2 .block3-sl2 .item-behind-right .par-design {
      font-size: 1.5rem;
      font-family: sansRegular; }
  .slider2 .block3-sl2 .item-back2 {
    margin: auto 0;
    height: 21rem;
    width: 26rem;
    background-color: #f1f1f1;
    border-radius: 2rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    margin-left: -19rem;
    padding: 0 2rem;
    opacity: .7; }
    .slider2 .block3-sl2 .item-back2 img {
      right: 3rem;
      top: -7rem; }
    .slider2 .block3-sl2 .item-back2 .name-design {
      font-family: sansBold;
      font-size: 2rem; }
    .slider2 .block3-sl2 .item-back2 .jop-design {
      font-size: 2rem;
      font-family: sansRegular; }
    .slider2 .block3-sl2 .item-back2 .par-design {
      font-size: 1.3rem;
      font-family: sansRegular; }
  .slider2 .block3-sl2 .greey-bg1 {
    margin: auto 0;
    height: 16rem;
    width: 10rem;
    background-color: #e9e9e9;
    border-radius: 2rem;
    z-index: 0;
    opacity: .4;
    margin-left: -5rem; }

.slider3 {
  height: auto;
  width: 100%; }
  .slider3 .block1-sl3 .bg-greey {
    margin: auto 0;
    height: 16rem;
    width: 10rem;
    background-color: #e9e9e9;
    z-index: 0;
    color: #e9e9e9; }
  .slider3 .block1-sl3 .item-back-sl3 {
    margin: auto 0;
    height: 21rem;
    width: 26rem;
    z-index: 1;
    display: flex;
    align-content: center;
    margin-left: -8rem;
    padding: 0 2rem;
    opacity: .5; }
  .slider3 .block1-sl3 .item-right {
    background-image: url(../img/text.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto 0;
    height: 26rem;
    width: 30rem;
    z-index: 2;
    flex-direction: column;
    padding-right: 1.5rem;
    margin-left: -20rem;
    font-size: 1.8rem; }
    .slider3 .block1-sl3 .item-right .name-beh {
      width: 84%;
      color: rgba(86, 167, 236, 0.85);
      padding: .3rem .0rem .3rem 1rem;
      background-color: #3e4453;
      margin-top: 2rem;
      margin-left: 6rem;
      font-size: 1.6rem;
      font-family: sansBold; }
    .slider3 .block1-sl3 .item-right .reader {
      font-family: sansRegular;
      margin-left: 6rem;
      font-size: 1.5rem;
      color: white;
      opacity: .7;
      line-height: 1.7; }
    .slider3 .block1-sl3 .item-right .boss {
      font-family: sansBold;
      margin-left: 6rem;
      font-size: 1.5rem;
      color: rgba(171, 178, 192, 0.5); }
      .slider3 .block1-sl3 .item-right .boss::before {
        content: "";
        display: inline-block;
        background-color: #e363a8;
        width: 1.5rem;
        height: 1.5rem; }
  .slider3 .block2-sl3 {
    height: auto;
    width: 100%; }
    .slider3 .block2-sl3 .item-center {
      background-image: url(../img/text.png);
      background-size: cover;
      background-repeat: no-repeat;
      margin: auto 0;
      height: 26rem;
      width: 31rem;
      z-index: 2;
      flex-direction: column;
      padding-right: 1.5rem;
      font-size: 1.8rem;
      margin-left: -8rem;
      margin-right: -9rem; }
      @media only screen and (min-width: 576px) and (max-width: 767.98px) {
        .slider3 .block2-sl3 .item-center {
          margin: auto; } }
      .slider3 .block2-sl3 .item-center .name-beh {
        width: 85%;
        color: rgba(86, 167, 236, 0.85);
        padding: .3rem .0rem .3rem 1rem;
        background-color: #3e4453;
        margin-top: 2rem;
        margin-left: 6rem;
        font-size: 1.6rem;
        font-family: sansBold; }
      .slider3 .block2-sl3 .item-center .reader {
        font-family: sansRegular;
        margin-left: 6rem;
        font-size: 1.5rem;
        color: white;
        opacity: .7;
        line-height: 1.7; }
      .slider3 .block2-sl3 .item-center .boss {
        font-family: sansBold;
        margin-left: 6rem;
        font-size: 1.5rem;
        color: rgba(171, 178, 192, 0.5); }
        .slider3 .block2-sl3 .item-center .boss::before {
          content: "";
          display: inline-block;
          background-color: #e363a8;
          width: 1.5rem;
          height: 1.5rem; }
  .slider3 .block3-sl3 .item-left {
    background-image: url(../img/text.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto 0;
    height: 26rem;
    width: 30rem;
    z-index: 2;
    flex-direction: column;
    padding-right: 1.5rem;
    font-size: 1.8rem;
    margin-left: 6rem;
    margin-right: -18rem; }
    .slider3 .block3-sl3 .item-left .name-beh {
      width: 84%;
      color: rgba(86, 167, 236, 0.85);
      padding: .3rem .0rem .3rem 1rem;
      background-color: #3e4453;
      margin-top: 2rem;
      margin-left: 6rem;
      font-size: 1.6rem;
      font-family: sansBold; }
    .slider3 .block3-sl3 .item-left .reader {
      font-family: sansRegular;
      margin-left: 6rem;
      font-size: 1.5rem;
      color: white;
      opacity: .7;
      line-height: 1.7; }
    .slider3 .block3-sl3 .item-left .boss {
      font-family: sansBold;
      margin-left: 6rem;
      font-size: 1.5rem;
      color: rgba(171, 178, 192, 0.5); }
      .slider3 .block3-sl3 .item-left .boss::before {
        content: "";
        display: inline-block;
        background-color: #e363a8;
        width: 1.5rem;
        height: 1.5rem; }
  .slider3 .block3-sl3 .item-back-left-sl3 {
    margin: auto 0;
    height: 21rem;
    width: 26rem;
    z-index: 1;
    display: flex;
    align-content: center;
    opacity: .5;
    margin-left: -2rem; }
  .slider3 .block3-sl3 .bg-greey {
    margin: auto 0;
    height: 16rem;
    width: 10rem;
    background-color: #e9e9e9;
    z-index: 0;
    color: #e9e9e9;
    margin-left: -6rem; }

/*stert our commuinty*/
.our-community {
  width: 100%;
  height: 50rem;
  padding-top: 15rem; }
  .our-community .our-community1 {
    height: 50rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/shape-2-copy-6.png"); }
    .our-community .our-community1 .text-comunity {
      margin-top: 13rem; }
    .our-community .our-community1 p {
      font-size: 2rem;
      font-family: sansRegular;
      line-height: 4rem;
      color: #030100; }
      @media only screen and (min-width: 576px) and (max-width: 767.98px) {
        .our-community .our-community1 p {
          line-height: 3.4rem;
          font-size: 1.8rem; } }
    .our-community .our-community1 span {
      font-size: 2rem;
      font-family: extaBold;
      color: #030100; }
    .our-community .our-community1 button {
      background-color: white;
      outline: none;
      border: none;
      cursor: pointer;
      border-radius: .7rem;
      border: .1rem solid #dadada;
      width: 17rem;
      height: 5rem;
      margin: 3rem 0; }

/* stert section about */
@media (min-width: 320px) and (max-width: 480px) {
  .imgBgHead {
    height: 230vh;
    background-size: cover;
    background-image: url("../img/m-bg.png"); }
  /*.navbar-collapse {
        margin-left: 5rem;
        background-color: rgba(0, 0, 0, .8);
        width: 100%
    }

    .dropdown1-menu {
        background-color: transparent;
        top: 90%;
        left: 27px;
        border-radius: .8rem;
        margin-left: 2rem;
        width: 13rem;
    }

    .dropdown1-item1 {
        color: white;
        font-family: sansRegular;
        font-size: 1.3rem;
        padding-top: .7rem;
        padding-bottom: .7rem
    }

    .dropdown1-divider {
        display: none;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        color: #fff;
        font-size: 1.3rem;
        font-family: sansBold;
        margin-top: 2rem;
    }*/ }

/*Animation Beh*/
.inline-flex-parent {
  display: inline-flex; }

.animation {
  width: 636px;
  height: 352px; }

#centercode {
  left: 1200px;
  top: 100px;
  position: relative;
  display: block;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-name: centerCode, fadeOut;
  -webkit-animation-duration: 5s, 5s;
  -webkit-animation-delay: 300ms, 300ms;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  /* Standard syntax */
  animation-name: centerCode, fadeOut;
  animation-duration: 5s, 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 300ms, 300ms; }

#centerframe {
  left: 200px;
  top: 50px;
  position: relative;
  display: block;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-name: centerFrame;
  -webkit-animation-duration: 5s;
  -webkit-animation-delay: 300ms;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  /* Standard syntax */
  animation-name: centerFrame;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 300ms; }

#leftframe {
  left: 480px;
  top: 10px;
  position: relative;
  height: 18rem; }

#rightframe {
  left: -40px;
  top: 260px;
  height: 18rem;
  position: relative;
  display: block; }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes centerCode {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in-out;
    z-index: 0; }
  100% {
    transform: translate3d(0px, -50px, 0px);
    animation-timing-function: ease-in-out;
    z-index: 1; } }

/* Standard syntax */
@keyframes centerCode {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in-out;
    z-index: 0; }
  100% {
    transform: translate3d(0px, -50px, 0px);
    animation-timing-function: ease-in-out;
    z-index: 1; } }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes centerFrame {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in-out; }
  100% {
    transform: translate3d(0px, 50px, 0px);
    animation-timing-function: ease-in-out; } }

/* Standard syntax */
@keyframes centerFrame {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in-out; }
  100% {
    transform: translate3d(0px, 50px, 0px);
    animation-timing-function: ease-in-out; } }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.07; }
  100% {
    /* opacity: 1; */ } }

/* Standard syntax */
@keyframes fadeOut {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.07; }
  100% {
    /* opacity: 1; */ } }
