%btn-val {
    outline: none;
    border: none;
    cursor: pointer;
}

%out-line-btn:active {
    transform: translateY(4px);
}

%btn-focus:focus {
    outline: none;
}

@mixin font-dimantion ($f-size, $font-fimaly, $width, $height) {
    width: $width;
    height: $height;
    font-size: $f-size;
    font-family: $font-fimaly;
}

@mixin margin ($m-top, $m-right, $m-bottom, $m-left) {
    margin-top: $m-top;
    margin-left: $m-left;
    margin-right: $m-right;
    margin-bottom: $m-bottom;
}

@mixin padding ($p-top, $p-right, $p-bottom, $p-left) {
    margin-top: $p-top;
    margin-left: $p-left;
    margin-right: $p-right;
    margin-bottom: $p-bottom;
}

@mixin bg ($bg-color, $color) {
    background-color: $bg-color;
    color: $color;
}

@mixin font-s-f ($fs, $ff) {
    font-size: $fs;
    font-family: $ff;
}

@mixin respond ($breakPoint) {
    @if $breakPoint==phone {
        @media only screen and (min-width: 576px) and (max-width: 767.98px) {
            @content
        }

        ;
    }

    @if $breakPoint==tap-port {
        @media only screen and (min-width: 768px) and (max-width: 991.98px) {
            @content
        }

        ;
    }

    @if $breakPoint==tap-land {
        @media only screen and (max-width: 75em) {
            @content
        }

        ;
    }

    @if $breakPoint==desktob {
        @media only screen and (min-width: 768px) and (max-width: 991.98px) {
            @content
        }

        ;
    }

    @if $breakPoint==big-desktob {
        @media only screen and (min-width: 1200px) {
            @content
        }

        ;
    }
}