@import "layout/nav";
@import "pages/pricing";
@import "abstracts/mixin";
@import "layout/footer";
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin-top: 0rem
}

html {
    font-size: 62.5%;
}

$color-primary:orange;
$font-size:1.8rem;
@font-face {
    font-family: sansBold;
    src: url("../fonts/OpenSans/OpenSans-SemiBold.ttf");
}

@font-face {
    font-family: sanslight;
    src: url("../fonts/OpenSans/OpenSans-Light_0.ttf");
}

@font-face {
    font-family: sansRegular;
    src: url("../fonts/OpenSans/OpenSans-Regular.ttf")
}

@font-face {
    font-family: Georgiabold;
    src: url("../fonts/Georgia/georgiab.ttf")
}

@font-face {
    font-family: extaBold;
    src: url("../fonts/OpenSans/OpenSans-ExtraBold.ttf")
}

@font-face {
    font-family: georgiaa;
    src: url("../fonts/Georgia/georgia.ttf");
}

// .navbar1 {
//     position: fixed;
//     top: 0;
//     width: 100%;
//     transition: all 0.6s;
// }
// .bg {
//     background-color: rgba(#000, 0.8)
// }
// .navbar__container {
//     width: 80%;
//     margin: auto;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     height: 5rem;
// }
// .navbar__logo {
//     width: 10rem;
// }
// .navbar__toggle {
//     display: none;
//     width: 6rem;
//     height: 100%;
//     //background-color:#ccc;
//     color: #fff;
//     align-self: stretch;
//     position: relative;
//     cursor: pointer;
//     span {
//         display: block;
//         width: 60%;
//         height: 4px;
//         background-color: #fff;
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//         &::after,
//         &::before {
//             content: "";
//             display: block;
//             width: 100%;
//             height: 4px;
//             background-color: #fff;
//             position: absolute;
//             top: 0;
//             transition: all 0.3s;
//         }
//         &::after {
//             transform: translateY(1.2rem);
//         }
//         &::before {
//             transform: translateY(-1.2rem);
//         }
//     }
// }
// .navbar__toggle.active {
//     span {
//         background-color: transparent;
//         &::after {
//             transform: translateY(0) rotate(45deg);
//         }
//         &::before {
//             transform: translateY(0) rotate(-45deg);
//         }
//     }
// }
// .navbar__toggle.active+.navbar__list {
//     padding: 1rem 0;
//     height: auto;
// }
// .navbar__list {
//     display: flex;
//     align-items: Center;
//     list-style: none;
// }
// .navbar__list-item {
//     display: flex;
//     align-items: center;
//     position: relative;
//     &:not(:last-child) {
//         margin-right: 1.3rem;
//     }
// }
// .navbar__link {
//     &,
//     &:link,
//     &:active {
//         display: inline-block;
//         font-size: 1.5rem;
//         text-decoration: none;
//         color: #fff;
//         position: relative;
//     }
//     &::after {
//         content: "";
//         width: 4px;
//         height: 4px;
//         border-radius: 50%;
//         background-color: $color-primary;
//         position: absolute;
//         bottom: -1rem;
//         left: 50%;
//         opacity: 0;
//     }
//     &::before {
//         content: "";
//         width: 1px;
//         height: 100%;
//         background-color: $color-primary;
//     }
//     &:hover::after {
//         opacity: 1;
//     }
//     &:last-child {
//         margin-right: 1rem;
//     }
// }
// .drop {
//     display: inline-block;
//     width: 8px;
//     height: 8px;
//     background-color: white;
//     clip-path: polygon(0 0, 100% 0, 50% 100%);
//     cursor: pointer;
//     transform: translateY(2px);
//     margin-left: 0.5rem;
// }
// .dropdown {
//     position: absolute;
//     top: 150%;
//     list-style: none;
//     border-radius: 3px;
//     overflow: hidden;
//     transition: all 0.3s;
//     visibility: hidden;
//     opacity: 0;
//     li {
//         a {
//             &,
//             &:link,
//             &:active {
//                 display: block;
//                 text-decoration: none;
//                 color: #fff;
//                 font-size: 1.4rem;
//                 background-color: #444;
//                 width: 100%;
//                 padding: 0.5rem;
//                 font-weight: bold;
//             }
//             &:hover {
//                 background-color: #555;
//             }
//         }
//     }
// }
// .dropdown-item {
//     display: none;
// }
// .shown {
//     visibility: visible;
//     opacity: 1;
// }
// .active::after {
//     opacity: 1;
// }
// .navbar__btn {
//     &,
//     &:link,
//     &:active {
//         color: #fff;
//         display: flex;
//         padding: 0.5rem 2.5rem;
//         text-decoration: none;
//         border: 1px solid $color-primary;
//         border-radius: 10rem;
//         font-size: 1.6rem;
//         line-height: 1;
//         transition: all 0.3s;
//     }
//     &:hover {
//         background-color: rgba($color-primary, 0.6)
//     }
// }
// @media screen and (max-width: 900px) {
//     // body{
//     //     background-color: #eee;
//     // }
//     .navbar {
//         background-color: #333;
//     }
//     // .navbar__container{
//     //     width: 95%;
//     // }
//     .navbar__toggle {
//         display: block;
//     }
//     .navbar__list {
//         display: flex;
//         flex-direction: column;
//         position: absolute;
//         top: 5rem;
//         left: 0;
//         width: 100%;
//         overflow: hidden;
//         padding: 0;
//         height: 0;
//         background-color: #444;
//         transition: all 0.3s;
//     }
//     .navbar__list-item {
//         &:not(:last-child) {
//             margin-bottom: 1.5rem;
//         }
//     }
//     .navbar__link {
//         &:link,
//         &:active {
//             font-size: 1.6rem;
//             font-weight: bold;
//             border-bottom: 4px solid transparent;
//         }
//         &:hover {
//             border-bottom: 4px solid #fff;
//         }
//     }
//     .navbar__link::after {
//         display: none;
//     }
//     .navbar__btn {
//         &:link,
//         &:active {
//             border: none;
//             font-size: 1.6rem;
//             font-weight: bold;
//             border-radius: 0;
//             border-bottom: 4px solid transparent;
//             padding: 0;
//             transform: translateX(-10px)
//         }
//         &:hover {
//             background-color: transparent;
//             border-bottom: 4px solid #fff;
//         }
//     }
//     .drop {
//         display: none;
//     }
//     .dropdown-item {
//         display: block;
//     }
// }

/*end navbar*/

.imgBgHead {
    overflow-x: hidden;
    // width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/bg.png");
    .btn-sign-in {
        @extend %btn-val;
        @extend %btn-focus;
        @extend %out-line-btn;
        @include font-dimantion(1.8rem,
        sansRegular,
        9.7rem,
        3.7rem);
        @include bg(#eb4e19,
        #fff);
        @include margin(-1.4rem,
        0,
        0,
        0);
        border-radius: 2rem;
    }
    .sec-logo {
        margin-top: 8rem;
        position: relative;
        .par-logo {
            font-size: 3rem;
            color: rgba(250, 250, 250, 0.75);
            margin-top: 4rem;
            margin-bottom: 5.5rem;
            line-height: 1.4;
            @include respond (phone) {
                font-size: 2.5rem;
            }
        }
        .btn-get {
            @extend %btn-focus;
            @extend %out-line-btn;
            @include font-dimantion(1.8rem,
            sansBold,
            14rem,
            4.5rem);
            box-shadow: none;
            @include bg(transparent,
            #2e7dff);
            border-color: #2e7dff;
            & :hover {
                cursor: pointer;
            }
        }
        .img-gif {
            position: absolute;
            top: 6rem;
            right: 130rem;
        }
    }
    /*start section 2*/
    .section2 {
        margin-top: 40rem;
        .img-backend {
            margin-top: 2rem
        }
        .h-backend {
            @include font-s-f(3rem,
            Georgiabold);
        }
        .par-backend {
            @include font-s-f(2rem,
            sansRegular);
            @include margin (3.5rem,
            0,
            3.5rem,
            0);
            color: rgba(3, 1, 0, 0.7);
        }
    }
}

.backend-mob {
    margin-top: -10rem;
    h1 {
        font-size: 2.8rem;
        font-family: Georgiabold;
    }
    img {
        margin: 2rem 0;
        width: 60%;
    }
    p {
        text-align: center;
        @include font-s-f(1.6rem,
        sansRegular);
        color: rgba(3, 1, 0, 0.7);
        text-overflow: ellipsis;
    }
}

.valuse {
    width: 100vw;
    height: 110vw;
    background-size: cover;
    margin-top: 13rem;
    margin-bottom: -28rem;
    background-repeat: no-repeat;
    background-image: url("../../dist/img/path-1.svg");
    .aside-left {
        margin-top: 17rem;
        .Business {
            margin-top: -4rem;
            font-size: 2.8rem;
            font-family: Georgiabold;
            color: #1e1e1e;
            @include respond(tap-port) {
                font-size: 2.3rem;
            }
        }
        .h-vlause {
            font-family: sansBold;
            margin-top: 6rem;
            font-size: 1.9rem;
            color: rgba(3, 1, 0, 0.85);
            opacity: 0.85;
            @include respond(tap-port) {
                font-size: 1.7rem;
                margin-top: 2rem;
            }
        }
        .par-valuse {
            font-family: sansRegular;
            opacity: 0.7;
            color: rgba(3, 1, 0, 0.7);
            font-size: 1.6rem;
            margin-top: 2rem;
            @include respond(tap-port) {
                font-size: 1.4rem;
            }
        }
    }
    .img-valuse {
        height: 95rem;
        margin-top: 14rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../../dist/img/valuse.svg");
        @include respond(tap-port) {
            background-size: contain;
        }
    }
    .aside-right {
        margin-top: 7rem;
        .h-vlause {
            font-family: sansBold;
            margin-top: 6rem;
            font-size: 1.9rem;
            color: rgba(3, 1, 0, 0.85);
            opacity: 0.85;
            @include respond(tap-port) {
                margin-top: 3rem;
                font-size: 1.7rem;
            }
        }
        .par-valuse {
            font-family: sansRegular;
            opacity: 0.7;
            color: rgba(3, 1, 0, 0.7);
            font-size: 1.6rem;
            margin-top: 2rem;
            @include respond(tap-port) {
                margin-top: 1.5rem;
                font-size: 1.4rem;
            }
        }
        button {
            margin-top: 5rem;
            @extend %btn-focus;
            @extend %out-line-btn;
            @include font-dimantion(1.8rem,
            sansBold,
            14rem,
            4.5rem);
            @include bg(#2e7dff,
            #fff);
            border-style: none;
            &:hover {
                cursor: pointer;
                // transition: all .15s ease-in-out;
            }
            // @include respond(tap-port){
            //     margin-top: 2rem;
            // }
        }
    }
}

.valuse-mob1 {
    margin-top: 5rem;
    .scalable :nth-child(2) {
        font-size: 2.5rem;
        margin-top: 2rem;
        opacity: 0.85;
    }
    img {
        width: 40%;
    }
    .scalable :nth-child(3) {
        font-size: 1.6rem;
        color: rgba(3, 1, 0, 0.7);
        opacity: 0.7;
        margin-bottom: 5rem;
    }
    button {
        margin-top: -4rem;
        @extend %btn-focus;
        @extend %out-line-btn;
        @include font-dimantion(1.8rem,
        sansBold,
        14rem,
        4.5rem);
        @include bg(#2e7dff,
        #fff);
        border-style: none;
        margin-bottom: 5rem;
    }
}


/* start product qua node */

.product-qn {
    margin: 7rem 0;
    .par-qn {
        @include font-s-f(2.8rem,
        georgiaa);
        span {
            @include font-s-f(3rem,
            Georgiabold);
        }
    }
}

// start all slider
// this is slider1
.slider1 {
    height: auto;
    width: 100%;
    .block-1 {
        .greey-bg1 {
            margin: auto 0;
            height: 16rem;
            width: 10rem;
            background-color: #e9e9e9;
            border-radius: 2rem;
            z-index: 0;
        }
        .greey-bg2 {
            margin: auto 0;
            height: 19rem;
            width: 26rem;
            background-color: #f1f1f1;
            border-radius: 2rem;
            z-index: 2;
            margin-left: -6rem;
            padding: 0 2rem;
            animation: back 5s infinite;
        }
        .ani-left {
            display: flex;
            align-items: center;
            margin: auto 0;
            height: 23rem;
            width: 30rem;
            background-color: #f8f8f8;
            border-radius: 2rem;
            margin-left: -22rem;
            z-index: 3;
            padding: 0 2rem;
            animation: behind 5s infinite;
        }
    }
    .block-2 {
        display: flex;
        align-items: center;
        margin: auto 0;
        height: 23rem;
        padding: 0 2rem;
        background-color: #f8f8f8;
        border-radius: 2rem;
        padding: 0 2rem;
        margin-left: -7.7rem;
        width: 31rem;
        @include respond(phone) {
            margin: auto;
        }
        img {
            margin-left: 3rem;
        }
    }
    .block-3 {
        .ani-right {
            display: flex;
            align-items: center;
            margin: auto 0;
            height: 23rem;
            width: 30rem;
            background-color: #f8f8f8;
            border-radius: 2rem;
            z-index: 3;
            padding: 0 2rem;
            margin-left: 6rem;
            margin-right: -20rem;
        }
        .greey-bg3 {
            display: block;
            margin: auto 0;
            height: 19rem;
            width: 26rem;
            background-color: #f1f1f1;
            border-radius: 2rem;
            z-index: 2;
            margin-right: -5rem;
            padding: 0 2rem;
        }
        .greey-bg4 {
            margin: auto 0;
            height: 16rem;
            width: 10rem;
            background-color: #e9e9e9;
            border-radius: 2rem;
            z-index: 0;
        }
    }
}

// slider center 
.slider2 {
    height: auto;
    width: 100%;
    .block1-sl2 {
        .greey-bg1 {
            margin: auto 0;
            height: 16rem;
            width: 10rem;
            background-color: #e9e9e9;
            border-radius: 2rem;
            z-index: 0;
            opacity: .4;
        }
        .item-back {
            margin: auto 0;
            height: 21rem;
            width: 26rem;
            background-color: #f1f1f1;
            border-radius: 2rem;
            z-index: 1;
            display: flex;
            flex-direction: column;
            align-content: center;
            margin-left: -6rem;
            padding: 0 2rem;
            opacity: .7;
            img {
                right: 4rem;
                top: -7rem;
            }
            .name-design {
                font-family: sansBold;
                font-size: 2rem;
            }
            .jop-design {
                font-size: 2rem;
                font-family: sansRegular;
            }
            .par-design {
                font-size: 1.3rem;
                font-family: sansRegular;
            }
        }
        .item-behind-left {
            height: 25rem;
            width: 30rem;
            background-color: #f8f8f8;
            border-radius: 2rem;
            /* margin: 0 1rem; */
            display: flex;
            align-content: center;
            flex-direction: column;
            margin-left: -22rem;
            z-index: 3;
            padding: 0 2rem;
            img {
                right: 3rem;
                top: -6rem;
            }
            .name-design {
                font-family: sansBold;
                font-size: 2rem;
            }
            .jop-design {
                font-size: 2rem;
                font-family: sansRegular;
            }
            .par-design {
                font-size: 1.5rem;
                font-family: sansRegular;
            }
        }
    }
    .block2-sl2 {
        height: 25rem;
        background-color: #f8f8f8;
        border-radius: 2rem;
        /* margin: 0 1rem; */
        display: flex;
        /* align-content: center; */
        /* flex-direction: column; */
        padding: 0 2rem;
        width: 31rem;
        margin-left: -8rem;
        @include respond(phone) {
            margin: auto;
        }
        .item-center {
            img {
                right: 1rem;
                top: -7rem;
            }
            .name-design {
                font-family: sansBold;
                font-size: 2rem;
            }
            .jop-design {
                font-size: 2rem;
                font-family: sansRegular;
            }
            .par-design {
                font-size: 1.5rem;
                font-family: sansRegular;
            }
        }
    }
    .block3-sl2 {
        .item-behind-right {
            height: 25rem;
            width: 31rem;
            background-color: #f8f8f8;
            border-radius: 2rem;
            /* margin: 0 1rem; */
            display: flex;
            align-content: center;
            flex-direction: column;
            z-index: 3;
            padding: 0 2rem;
            margin-left: 6rem;
            img {
                right: 3rem;
                top: -7rem;
            }
            .name-design {
                font-family: sansBold;
                font-size: 2rem;
            }
            .jop-design {
                font-size: 2rem;
                font-family: sansRegular;
            }
            .par-design {
                font-size: 1.5rem;
                font-family: sansRegular;
            }
        }
        .item-back2 {
            margin: auto 0;
            height: 21rem;
            width: 26rem;
            background-color: #f1f1f1;
            border-radius: 2rem;
            z-index: 1;
            display: flex;
            flex-direction: column;
            /* align-content: center; */
            margin-left: -19rem;
            padding: 0 2rem;
            opacity: .7;
            img {
                right: 3rem;
                top: -7rem;
            }
            .name-design {
                font-family: sansBold;
                font-size: 2rem;
            }
            .jop-design {
                font-size: 2rem;
                font-family: sansRegular;
            }
            .par-design {
                font-size: 1.3rem;
                font-family: sansRegular;
            }
        }
        .greey-bg1 {
            margin: auto 0;
            height: 16rem;
            width: 10rem;
            background-color: #e9e9e9;
            border-radius: 2rem;
            z-index: 0;
            opacity: .4;
            margin-left: -5rem;
        }
    }
}

// start slider 3
.slider3 {
    height: auto;
    width: 100%;
    .block1-sl3 {
        .bg-greey {
            margin: auto 0;
            height: 16rem;
            width: 10rem;
            background-color: #e9e9e9;
            z-index: 0;
            color: #e9e9e9;
        }
        .item-back-sl3 {
            margin: auto 0;
            height: 21rem;
            width: 26rem;
            z-index: 1;
            display: flex;
            align-content: center;
            margin-left: -8rem;
            padding: 0 2rem;
            opacity: .5;
        }
        .item-right {
            background-image: url(../img/text.png);
            background-size: cover;
            background-repeat: no-repeat;
            margin: auto 0;
            height: 26rem;
            width: 30rem;
            z-index: 2;
            flex-direction: column;
            padding-right: 1.5rem;
            margin-left: -20rem;
            font-size: 1.8rem;
            .name-beh {
                width: 84%;
                color: rgba(86, 167, 236, 0.85);
                padding: .3rem .0rem .3rem 1rem;
                background-color: #3e4453;
                margin-top: 2rem;
                margin-left: 6rem;
                @include font-s-f (1.6rem,
                sansBold);
            }
            .reader {
                font-family: sansRegular;
                margin-left: 6rem;
                font-size: 1.5rem;
                color: white;
                opacity: .7;
                line-height: 1.7;
            }
            .boss {
                font-family: sansBold;
                margin-left: 6rem;
                font-size: 1.5rem;
                color: rgba(171, 178, 192, 0.5);
                &::before {
                    content: "";
                    display: inline-block;
                    background-color: #e363a8;
                    width: 1.5rem;
                    height: 1.5rem
                }
            }
        }
    }
    .block2-sl3 {
        height: auto;
        width: 100%;
        .item-center {
            background-image: url(../img/text.png);
            background-size: cover;
            background-repeat: no-repeat;
            margin: auto 0;
            height: 26rem;
            width: 31rem;
            z-index: 2;
            flex-direction: column;
            padding-right: 1.5rem;
            font-size: 1.8rem;
            margin-left: -8rem;
            margin-right: -9rem;
            @include respond(phone) {
                margin: auto;
            }
            .name-beh {
                width: 85%;
                color: rgba(86, 167, 236, 0.85);
                padding: .3rem .0rem .3rem 1rem;
                background-color: #3e4453;
                margin-top: 2rem;
                margin-left: 6rem;
                @include font-s-f (1.6rem,
                sansBold);
            }
            .reader {
                font-family: sansRegular;
                margin-left: 6rem;
                font-size: 1.5rem;
                color: white;
                opacity: .7;
                line-height: 1.7;
            }
            .boss {
                font-family: sansBold;
                margin-left: 6rem;
                font-size: 1.5rem;
                color: rgba(171, 178, 192, 0.5);
                &::before {
                    content: "";
                    display: inline-block;
                    background-color: #e363a8;
                    width: 1.5rem;
                    height: 1.5rem
                }
            }
        }
    }
    .block3-sl3 {
        .item-left {
            background-image: url(../img/text.png);
            background-size: cover;
            background-repeat: no-repeat;
            margin: auto 0;
            height: 26rem;
            width: 30rem;
            z-index: 2;
            flex-direction: column;
            padding-right: 1.5rem;
            font-size: 1.8rem;
            margin-left: 6rem;
            margin-right: -18rem;
            .name-beh {
                width: 84%;
                color: rgba(86, 167, 236, 0.85);
                padding: .3rem .0rem .3rem 1rem;
                background-color: #3e4453;
                margin-top: 2rem;
                margin-left: 6rem;
                @include font-s-f (1.6rem,
                sansBold);
            }
            .reader {
                font-family: sansRegular;
                margin-left: 6rem;
                font-size: 1.5rem;
                color: white;
                opacity: .7;
                line-height: 1.7;
            }
            .boss {
                font-family: sansBold;
                margin-left: 6rem;
                font-size: 1.5rem;
                color: rgba(171, 178, 192, 0.5);
                &::before {
                    content: "";
                    display: inline-block;
                    background-color: #e363a8;
                    width: 1.5rem;
                    height: 1.5rem
                }
            }
        }
        .item-back-left-sl3 {
            margin: auto 0;
            height: 21rem;
            width: 26rem;
            z-index: 1;
            display: flex;
            align-content: center;
            opacity: .5;
            margin-left: -2rem;
        }
        .bg-greey {
            margin: auto 0;
            height: 16rem;
            width: 10rem;
            background-color: #e9e9e9;
            z-index: 0;
            color: #e9e9e9;
            margin-left: -6rem;
        }
    }
}


/*stert our commuinty*/

.our-community {
    width: 100%;
    height: 50rem;
    padding-top: 15rem;
    // margin-top: 10rem;
    .our-community1 {
        height: 50rem;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("../img/shape-2-copy-6.png");
        .text-comunity {
            margin-top: 13rem;
        }
        p {
            font-size: 2rem;
            font-family: sansRegular;
            line-height: 4rem;
            color: #030100;
            @include respond(phone) {
                line-height: 3.4rem;
                font-size: 1.8rem;
            }
        }
        span {
            font-size: 2rem;
            font-family: extaBold;
            color: #030100;
        }
        button {
            background-color: white;
            outline: none;
            border: none;
            cursor: pointer;
            border-radius: .7rem;
            border: .1rem solid #dadada;
            width: 17rem;
            height: 5rem;
            margin: 3rem 0;
            @extend %out-line-btn;
        }
    }
}


/* stert section about */

@media (min-width: 320px) and (max-width: 480px) {
    .imgBgHead {
        height: 230vh;
        background-size: cover;
        background-image: url("../img/m-bg.png");
    }
    /*.navbar-collapse {
        margin-left: 5rem;
        background-color: rgba(0, 0, 0, .8);
        width: 100%
    }

    .dropdown1-menu {
        background-color: transparent;
        top: 90%;
        left: 27px;
        border-radius: .8rem;
        margin-left: 2rem;
        width: 13rem;
    }

    .dropdown1-item1 {
        color: white;
        font-family: sansRegular;
        font-size: 1.3rem;
        padding-top: .7rem;
        padding-bottom: .7rem
    }

    .dropdown1-divider {
        display: none;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        color: #fff;
        font-size: 1.3rem;
        font-family: sansBold;
        margin-top: 2rem;
    }*/
}

// start setion 2

/*Animation Beh*/

.inline-flex-parent {
    display: inline-flex;
}

.animation {
    width: 636px;
    height: 352px;
}

#centercode {
    left: 1200px;
    top: 100px;
    position: relative;
    display: block;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-name: centerCode, fadeOut;
    -webkit-animation-duration: 5s, 5s;
    -webkit-animation-delay: 300ms, 300ms;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    /* Standard syntax */
    animation-name: centerCode, fadeOut;
    animation-duration: 5s, 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 300ms, 300ms;
}

#centerframe {
    left: 200px;
    top: 50px;
    position: relative;
    display: block;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-name: centerFrame;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 300ms;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    /* Standard syntax */
    animation-name: centerFrame;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 300ms;
}

#leftframe {
    left: 480px;
    top: 10px;
    position: relative;
    height: 18rem;
}

#rightframe {
    left: -40px;
    top: 260px;
    height: 18rem;
    position: relative;
    display: block;
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes centerCode {
    0% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in-out;
        z-index: 0;
    }
    100% {
        transform: translate3d(0px, -50px, 0px);
        animation-timing-function: ease-in-out;
        z-index: 1;
    }
}


/* Standard syntax */

@keyframes centerCode {
    0% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in-out;
        z-index: 0;
    }
    100% {
        transform: translate3d(0px, -50px, 0px);
        animation-timing-function: ease-in-out;
        z-index: 1;
    }
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes centerFrame {
    0% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in-out;
    }
    100% {
        transform: translate3d(0px, 50px, 0px);
        animation-timing-function: ease-in-out;
    }
}


/* Standard syntax */

@keyframes centerFrame {
    0% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in-out;
    }
    100% {
        transform: translate3d(0px, 50px, 0px);
        animation-timing-function: ease-in-out;
    }
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.07;
    }
    100% {
        /* opacity: 1; */
    }
}


/* Standard syntax */

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.07;
    }
    100% {
        /* opacity: 1; */
    }
}

// @keyframes back {
//     0% {
//         margin-left: -5rem;
//     }
// 50%{
//     height: 23rem;
//     z-index: 5;
//     transition: right .5s ease-in;
// }
//     100% {
//         z-index: 5;
//         height: 23rem;
//                transition: all .5s ease-in-out;
//     }
// }
// @keyframes behind {
//     0% {
//      margin-left: -20rem;
//     }
//   50%{
//        height: 15rem;
//        transition: left .5s ease-in-out;
//    }
//    100% {
//         z-index: 1;
//         height: 15rem;
//         transition: left .5s ease-in-out;
//    }
//  }