.about {
    background-color: #141313;
    width: 100%;
    height: 46rem;
    color: white;
    padding-top: 7rem;
    padding-bottom: 2rem;
    @include respond(tap-port) {
        height: 180rem;
    }
    @include respond(phone) {
        height: 110rem;
    }
    .address-link {
        font-family: sansBold;
        font-size: 2rem;
        a {
            font-size: 1.7rem;
            color: #d7d3d1;
            font-family: sanslight;
            text-decoration: none;
            margin: 1rem 0;
            display: flex;
        }
    }
    .btn-sign {
        color: #fff;
        background-color: transparent;
        cursor: pointer;
        width: 11rem;
        height: 4rem;
        font-family: sansBold;
        font-size: 1.8rem;
        margin-top: 1.8rem;
        border-style: solid;
        border-color: #ffffff;
        & :hover,
         :active,
         :focus {
            outline: none;
            box-shadow: none;
            border: none;
        }
    }
    .send-message {
        .address-link {
            margin-left: 2rem;
        }
        @include respond (phone) {
            margin-top: 4rem;
        }
        @include respond(tap-port) {
            margin-top: 4rem;
        }
        .form-input {
            border: 1px solid #333;
            border-radius: .7rem;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            @include respond(phone) {
                width: 34rem;
                margin-left: 2rem;
            }
            .black-input {
                margin: 1rem 0;
                border: none;
                outline: none;
                border-bottom: 1px solid #e9e5de;
                background-color: #141313;
                color: #e9e5de;
                font-size: 1.8rem;
                font-family: sansRegular;
            }
        }
        .btn-sub {
            color: #fff;
            background-color: transparent;
            cursor: pointer;
            width: 11rem;
            height: 4rem;
            font-family: sansBold;
            font-size: 1.8rem;
            margin-top: 1.8rem;
            border-style: solid;
            border-color: #ffffff;
        }
    }
    .contact {
        @include respond (tap-port) {
            margin-top: 2rem;
            padding-left: 0;
        }
        @include respond (phone) {
            margin-top: 2rem;
            margin-left: 2rem;
            padding-left: 0;
        }
        padding-left: 10rem;
        .address-link {
            font-family: sansBold;
            font-size: 2rem;
        }
        .contact-social {
            margin: 1.5rem 0;
            p {
                font-size: 1.7rem;
                color: #d7d3d1;
                font-family: sanslight;
            }
        }
        i {
            margin-bottom: 2rem;
            cursor: pointer;
            font-size: 2rem;
            color: rgba(255, 255, 255, 0.479);
            &:hover {
                color: #fff;
                transition: all 1.4s ease;
            }
        }
        .line-content {
            margin: 2rem 0;
            width: 90%;
            border: .1rem solid #333;
            @include respond(tap-port) {
                width: 29%;
            }
            @include respond(phone) {
                width: 60.5%;
                display: block;
            }
        }
        input {
            height: 4rem;
            font-size: 1.8rem;
        }
        // .form-row {
        //     .col-auto {
        //         @include respond(phone) {
        //             margin: 0 auto;
        //         }
        //     }
        // }
    }
}


/* stert footer */

footer {
    display: flex;
    align-items: center;
    background-color: #1e1e1e;
    height: 9rem;
    width: 100%;
}

footer .nav-link {
    display: inline;
    align-items: center;
    color: #d8d8d8;
    font-size: 1.8rem;
    opacity: .7;
    margin: auto 0
}