.navbar {
    padding: 0
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.3rem;
    font-family: sansBold;
    margin-left: 2.5rem;
    margin-top: 4rem;
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 85px;
}

.dropdown-menu {
    background-color: #1e1e1e;
    top: 90%;
    left: 27px;
    border-radius: .8rem;
    min-width: 12rem;
}

.dropdown-item {
    color: white;
    font-family: sansRegular;
    font-size: 1.3rem;
    padding-top: .7rem;
    padding-bottom: .7rem
}

.dropdown-item:hover {
    background-color: #2c2c2c;
    color: white;
    padding-left: 2.5rem;
    transition: all .3s ease-in-out;
}

.dropdown-divider {
    border-top: 1px solid #2c2c2c;
}

.navbar button span i {
    color: #dbdbdb;
    font-size: 3rem
}