@import "../layout/about";
@import "../layout/nav";
body{
  margin-top:50rem;
}
%limited-p {
  font-size: 14px;
  color: #979797;
  font-family: sansRegular;
}
.limit {
  font-size: 14px;
  color: #979797;
  font-family: sansRegular;
}
%span-link {
  color: #cd3907;
  position: absolute;
  font-family: sanslight;
  font-size: 12px;
  transform: translate(200%, -190%);
}
%span-link-2{
  color: #cd3907;
  position: absolute;
  font-family: sanslight;
  font-size: 12px;
  transform: translate(386%, -45%);
}
%spna-link-3{
  color: #cd3907;
  position: absolute;
  font-family: sanslight;
  font-size: 12px;
  transform: translate(407%, -60%);
}

%cell-p {
  font-size: 14px;
  color: #A9A9A9;
  font-family: sansRegular;
}
%delet-line{
  display: flex;
  flex-direction: row;
  justify-content: center;

  :nth-child(1) {
    text-decoration: line-through;
    font-family: OpenSans-SemiBold;
    font-size: 16px;
  }

  :nth-child(2) {
    font-family: OpenSans-SemiBold;
    font-size: 16px;
    margin-bottom: 23px;
  }
}
%btn-custom-mob{
width:110px;
height:36px;
border:none;
border-radius: 2.5rem;
outline: none;
color:#fff;
font-family: OpenSans-Bold;
font-size:14px;
margin-top: 10px;
}
%btn-custom-desk{
  color:#fff;
  width: 170px;
  height: 45px;
  border-radius: 20px;
  margin-top: 20px;
  font-family: OpenSans-Bold;
  letter-spacing: 1px;
  font-size: 16px;
  outline: none;
  border: none;
background-color: #2e7dff;
  &:hover , :focus , :active{
    background-color: #156dfa;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all .5s ease-in-out
  }
}
@font-face {
  font-family: sanslight;
  src: url("../fonts/OpenSans/OpenSans-Light_0.ttf");
}

@font-face {
  font-family: sansRegular;
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf")
}

@font-face {
  font-family: Georgiabold;
  src: url("../fonts/Georgia/georgiab.ttf")
}

@font-face {
  font-family: extaBold;
  src: url("../fonts/OpenSans/OpenSans-ExtraBold.ttf")
}

@font-face {
  font-family: georgiaa;
  src: url("../fonts/Georgia/georgia.ttf");
}

@font-face {
  font-family: OpenSans-Italic;
  src: url("../fonts/OpenSans/OpenSans-Italic.ttf");
}

@font-face {
  font-family: OpenSans-SemiBold;
  src: url("../fonts/OpenSans/OpenSans-SemiBold.ttf")
}

@font-face {
  font-family: OpenSans-Bold;
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf");
}

hr,
br,
p {
  margin: 0;
  padding: 0;
}

/* start table pricing */
.column-1 {
  width: 230px;
  display: flex;
  flex-direction: column;
 .cell-1 {
    height: 300px;
    padding-top: 50px;

    .first-par {
      font-size: 30px;
      text-align: left;
      margin-bottom: 20px;
      font-weight: bold;
      letter-spacing: 1px;
      font-family: georgiaa;
    }

    .child {
      font-size: 18px;
      text-align: left;
      font-family: sanslight;
      opacity: .7;
      color: rgba(3, 1, 0, 0.7)
    }
  }

  span {
    color: #cd3907;
    font-family: OpenSans-Italic;
    font-size: 14px;
  }

  .cell-2  {
    border-top-left-radius: 1rem;
    background-color: #f4f4f4;
    text-align: left;
    padding-left: 20px;
    font-family: OpenSans-SemiBold;
    height: 116px;
    font-size: 16px;
    padding-top: 55px
  }

   .cell-3 , .cell-4 , .cell-5 , .cell-6 ,.cell-7 {
    background-color: #F9F9F9 !important;
    color: #000;
    height: 80px;
    text-align: left;
    padding-left: 20px;
    font-family: OpenSans-SemiBold;
    font-size: 16px;
    padding-top: 16px;
  }

  .cell-5 {
  padding-top:25px;
  }
 .cell-8 {
@extend .cell-7 ;
    height: 140px;
    border-bottom-left-radius: 1.5rem;
  }
}
.count-maga{
  font-size: 18px;
  color: black;
  font-family: OpenSans-SemiBold;
}
/* start column 2 */
.column-2 {
  width: 230px;
  height: 200px;
  display: table;
  margin-left: -3px;
  margin-top: -40px;
  background-color: white;
  border-top: .5px solid rgba(185, 175, 175, 0.2);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  text-align: center;
  box-shadow: 0 0 0px 0px white, 0 0 0px 0px white,
    0px 0 11px 0px rgba(0, 0, 0, 0.10),
    0px 0 0px 0px rgba(0, 0, 0, 0.15);

  img {
    margin: 27px 19px 5px
  }

  span {
    position: absolute;
    transform: translate(-195%, -5%);
    font-size: 22px;
    font-weight: bold;
    color: rgba(58, 55, 53, 0.7);
  }

  .t-head {
    font-size: 20px;
    margin-top: 47px;
    font-family: sansRegular;
  }

  .cell-1 {
    height: 379px;
  }

  .cell-1 :nth-child(4) {
    font-size: 18px;
    color: #A9A9A9;
    margin-top: 10px;
  }

  .cell-1 :nth-child(5) {
    font-size: 16px;
    color: #cd3907;
    font-style: italic;
    font-family: sansRegular;
  }

  .limited {
    margin-top: 20px;
    position: relative;

    i {
      color: #3985FE;
      font-size: 23px;
      margin-top: 15px;
    }

    p {
      @extend %cell-p;
    }

    span {
      @extend %span-link;
    }
  }

  .cell-2 , .cell-3 ,.cell-4 ,.cell-5 {
    height: 80px;
    font-size: 23px;
    color: #3985FE;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }



  .cell-4 {
    position: relative;
   

    p {
      @extend %cell-p;
    }

    i {
      font-size: 23px;
      color: #3985FE;
    }

    span {
      @extend %span-link;
    }
  }

 .cell-5{
   a{
     span{
      @extend %span-link-2;   
      }
   }
 }

  .cell-6 {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    color: #A9A9A9;
  }

  .cell-7 {
    display: flex;
    height: 180px;
    flex-direction: column;

    p {
      font-family: OpenSans-SemiBold;
      font-size: 18px;
      margin-top: 20px;
      margin-bottom: 40px;
    }
  }

  button {
 @extend %btn-custom-desk;
 margin-top:10px;
  
  &:hover{
    color:#fff;

  }
}

}

.column-3 {
  @extend .column-2 ;

  margin-top: -65px;


  img {
    margin: 27px 19px 5px
  }

  span {
    position: absolute;
    font-size: 22px;
    font-weight: bold;
    color: rgba(58, 55, 53, 0.7);
    transform: translate(-175%, -18%);
  }

  .t-head {
    font-size: 20px;
    margin-top: 72px;
    font-family: sansRegular;
  }

  .cell-1 {
    height: 379px;

    :nth-child(4) {
      font-size: 18px;
      color: #A9A9A9;
      margin-top: 5px;
        }

    :nth-child(5) {
      font-size: 16px;
      color: #cd3907;
      font-style: italic;
      font-family: sansRegular;
    }

  }

  .limited {
    margin-top: 20px;
    position: relative;

    i {
      color: #89C23E;
      font-size: 23px;
      margin-top: 15px;
    }
    span{
      @extend %span-link;
    }
  }

  .cell-2 ,.cell-3 ,.cell-4 ,.cell-5 ,.cell-6{
    height: 80px;
    font-size: 23px;
    color: #89C23E;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

 

  .cell-4 {

    i {
      font-size: 23px;
      color: #89C23E;
    }
    span{
      @extend %span-link;

    }
  }

  .cell-5{
    a{
      span{
       @extend %span-link-2;   
       }
    }
  }

  .cell-6 {

    position: relative;
   div :nth-child(1){
      text-decoration: line-through;
      color:black;
      font-size: 18px;
      display: inline;
      font-family: OpenSans-Semibold;
    }
   div :nth-child(2){
      color:black;
      font-size: 18px;
      display: inline;
      font-family: OpenSans-Semibold;

    }
    span{
      @extend %spna-link-3;
    }
  }

  .limit {
    font-size: 14px;
    color: #979797;
    font-family: sansRegular;
  }
  .cell-7 {
    display: flex;
    height: 200px;
    flex-direction: column;

    p {
      font-family: OpenSans-SemiBold;
      font-size: 18px;
      margin-top: 20px;
      margin-bottom: 40px;
    }
  }

  button {
 @extend %btn-custom-desk;
 
    background-color: #89C23E;
    margin-top:10px;
   &:hover , :focus , :active{
    background-color: rgb(119, 173, 48);

   }

  }
}

.column-4 {
  margin-top: -90px;
  @extend .column-3 ;
 

  img {
    margin: 23px 19px 5px
  }

  span {
    position: absolute;
    font-size: 22px;
    font-weight: bold;
    color: rgba(58, 55, 53, 0.7);
    transform: translate(-300%, -30%);
  }

  .t-head {
    font-size: 20px;
    margin-top: 97px;
    font-family: sansRegular;
  }

  .cell-1 {
    height: 379px;

    :nth-child(4) {
      font-size: 18px;
      color: #A9A9A9;
      margin-top: 5px;
        }

    :nth-child(5) {
      font-size: 16px;
      color: #cd3907;
      font-style: italic;
      font-family: sansRegular;
    }
  }

  .limited {
    margin-top: 20px;
    position: relative;

    i {
      color: #EC4D12;
      font-size: 23px;
      margin-top: 15px;
    }
    span{
      @extend %span-link;
    }
  }

  .cell-2 ,.cell-3  ,.cell-4 ,.cell-5,.cell-6 {
    height: 80px;
    font-size: 23px;
    color: #EC4D12;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

 

  .cell-4 {
    position: relative;


    i {
      font-size: 23px;
      color: #EC4D12;
    }
    span{
      @extend %span-link;
    }
  }
  .cell-5{
    a{
      span{
       @extend %span-link-2;   
       }
    }
  }
   .cell-6 {
   
    position: relative;
   div :nth-child(1){
      text-decoration: line-through;
      color:black;
      font-size: 18px;
      display: inline;
      font-family: OpenSans-Semibold;
    }
   div :nth-child(2){
      color:black;
      font-size: 18px;
      display: inline;
      font-family: OpenSans-Semibold;

    }
    span{
      @extend %spna-link-3;
    }
  }

  .cell-7 {
    display: flex;
    height: 220px;
    flex-direction: column;

    p {
      font-family: OpenSans-SemiBold;
      font-size: 18px;
      margin-top: 20px;
      margin-bottom: 40px;
    }
  }

  button {
 @extend %btn-custom-desk;
    background-color: #EC4D12;
    margin-top:10px;

  &:hover , :focus , :active{
    background-color: rgb(221, 66, 9);
    color:#fff;
  }
  }

}
/* column 5 */

.column-5 {
  width: 230px;
  display: table;
  margin-left: -3px;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  border: .5px solid rgba(185, 175, 175, 0.2);
  margin-top: -115px;
  background-color: #2c2c2c;
  position: relative;
  text-align: center;
  box-shadow: 0 0 0px 0px white, 0 0 0px 0px white,
    0px 0 11px 0px rgba(0, 0, 0, 0.10),
    0px 0 0px 0px rgba(0, 0, 0, 0.15);

  hr {
    background: #535353
  }

  img {
    margin: 27px 19px 5px
  }

  span {
    position: absolute;
    top: 218px;
    left: 91px;
    font-size: 22px;
    font-weight: bold;
    color: rgba(58, 55, 53, 0.7);
  }

  .t-head {
    font-size: 20px;
    margin-top: 122px;
    font-family: sansRegular;
    color: #fff;
  }

  .cell-1 {
    height: 379px;

    p {
      font-size: 30px;
      color: #A9A9A9;
      margin: 30px 0;
      font-family: Georgiabold;
      color: #fff;
      letter-spacing: 1pxك
    }

    .limited {
      position: relative;

      p {
        font-size: 14px;
        color: #979797;
        font-family: sansRegular;
        margin: 0 0;
      }

      i {
        margin-top: 38px;
        font-size: 23px;
        color: #979797;
      }

      span {
   @extend %span-link;
   transform: translate(320%, -943%);
        }
    }
  }

  .cell-2 {
    height: 80px;
    font-size: 23px;
    color: #979797;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .cell-3 {
    color: rgba(255, 255, 255, 0.8);
    font-family: OpenSans-SemiBold;
    font-size: 18px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .cell-4 {
    @extend .cell-2 ;
  }

  .cell-5 {
    @extend .cell-3 ;
  }

  .cell-6 {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    a {
      color: #cd3907;
      font-size: 18px;
      text-decoration: none;
      font-family: OpenSans-Bold;

      &:hover {
        color: #cd3907;
        text-decoration: none;
        cursor: pointer;
        font-family: OpenSans-Bold;
      }
    }
  }

  .cell-7 {
    display: flex;
    height: 245px;
    flex-direction: column;

    p {
      font-family: OpenSans-SemiBold;
      font-size: 18px;
      margin-top: 20px;
      margin-bottom: 9px;
      color: rgba(255, 255, 255, 0.8);
    }
  }

  button {
    width: 170px;
    height: 42px;
    border-radius: 20px;
    margin-top: 15px;
    font-family: OpenSans-Bold;
    letter-spacing: 1px;
    background-color: rgba(236, 76, 18, 0.192);
    color: #EC4D12;
    border: 3px solid #EC4D12;
    font-size: 16px;
    &:hover{
      color: #EC4D12;

      background-color: rgba(119, 32, 0, 0.192);
    }
  }
}



/* end table pricing */


/* Start Table In Mobile And Tablet*/

/* this column for all Table */ 
 .btn-cust{
  color:#fff;
  text-decoration: none;
  padding: 0 80px;
   &:hover , :focus , :active{
    color:#fff;
    text-decoration: none;
   outline: none;
   box-shadow: none;
   }
 }
%column-for-all-table{
  .cell-1-mob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-left-radius: 1rem;
    background-color: #f4f4f4;
    text-align: left;
    padding-left: 18px;
    font-family: OpenSans-SemiBold;
    height: 116px;
    font-size: 14px;

    span {
      color: #cd3907;
      font-family: OpenSans-Italic;
      font-size: 14px;
    }
  }

  .cell-2-mob,
  .cell-4-mob,
  .cell-6-mob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F9F9F9 !important;
    color: #000;
    height: 116px;
    text-align: left;
    padding-left: 18px;
    font-family: OpenSans-SemiBold;
    font-size: 14px;
  }

  .cell-3-mob,
  .cell-5-mob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f4f4f4;
    text-align: left;
    padding-left: 18px;
    font-family: OpenSans-SemiBold;
    height: 116px;
    font-size: 14px;

    span {
      color: #cd3907;
      font-family: OpenSans-Italic;
      font-size: 14px;
    }

  }

  .cell-7-mob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F4F4F4;
    border-bottom-left-radius: 1rem;
    text-align: left;
    padding-left: 18px;
    font-family: OpenSans-SemiBold;
    font-size: 14px;
    height: 116px;
  }
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  text-align: center;
  border: none;
  margin-bottom: 3rem;
}

.card-header:first-child {
  border-radius: 2.8rem;
}

.card-header {
  border: none;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.background-head-1{
  background-color: #2e7dff;
}
.background-head-2{
  background-color: #8bc53f;
}
.background-head-3{
  background-color:   #eb4e19;
}
.background-head-4{
  background-color:#2c2c2c;
}

.t-head-mob {
  font-size: 18px;
  text-align: center;
  color: white;

  &:hover {
    text-decoration: none;
  }
}

.pricing :first-child {
  font-size: 30px;
  text-align: left;
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: georgiaa;}

.pricing :last-child {
  font-size: 18px;
  text-align: left;
  font-family: sanslight;
  margin-bottom:20px;
  opacity: .7;
  color: rgba(3, 1, 0, 0.7);}

.details {
  position: relative;
img{
  margin:2rem 0;
  width: 30%;
}
  .dolar-1 {
    color: #979797;
    font-size: 2.4rem;
    transform: translate(-194%, -10%);
    position: absolute;
    font-weight: 500;
  }
  .dolar-2{
    color: #979797;
    font-size: 2.4rem;
    transform: translate(-327%, -10%);
    position: absolute;
    font-weight: 500;
  }

  .prici-num-1 {
    font-size: 45px;
    color: #3985FE;
    font-family: Georgiabold;
  }
  .prici-num-2 {
    font-size: 45px;
    color: #8bc53f;
    font-family: Georgiabold;
  }
   .prici-num-3 {
    font-size: 45px;
    color: #eb4e19;
    font-family: Georgiabold;
  } .prici-num-4 {
    font-size: 45px;
    color: #3985FE;
    font-family: Georgiabold;
  }

  p {
    color: #979797;
    font-size: 18px;
  }

  span {
    font-size: 16px;
    color: #cd3907;
    font-style: italic;
    font-family: sansRegular;
  }
}

.table-1-mob {
  margin-top: 4rem;

  .col-1-mob {
   @extend %column-for-all-table;
  }
.col-2-mob{
  box-shadow: 0 0 0px 0px white, 0 0 0px 0px white,
    0px 0 11px 0px rgba(0, 0, 0, 0.10),
    0px 0 0px 0px rgba(0, 0, 0, 0.15);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;

  .col-2-cell-1-mob , .col-2-cell-4-mob {
    position: relative;
height:116px;
display:flex;
flex-direction: column;
justify-content: center;
.limited i{
  color: #3985FE;
  font-size: 23px;
  margin-bottom: 12px;
}
  .limited p{
    font-size: 16px;
    color: #979797;
    font-family: sansRegular;
    margin-top: 6px;
  }
  .limited span{
    color: #eb4e19;
    font-family: sanslight;
    font-size: 14px;
    transform: translate(110%, -230%);
    position: absolute;
    font-weight: 800;
  }

  }
  .col-2-cell-2-mob , .col-2-cell-3-mob{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:116px;
    color: #3985FE;
    font-size: 23px;
  }
  .col-2-cell-5-mob{
    height:116px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p{
      font-family: OpenSans-SemiBold;
    font-size: 16px;
    margin: 10px 0;
    }
    :nth-child(2){
      font-size: 16px;
      color: #979797;
      font-family: sansRegular;
    }
  span{
      color: #eb4e19;
      font-family: sanslight;
      font-size: 14px;
      transform: translate(110%, -268%);
      position: absolute;
      font-weight: 800;
    }
  }
  .col-2-cell-6-mob{
    height: 116px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    color: #A9A9A9;
  }
  .col-2-cell-7-mob{
    height: 116px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    button{
      @extend %btn-custom-mob;
      background-color: #3985FE;
    }
  }
}

}


/* Start Table 2 */ 
.table-2-mob {
  margin-top: 4rem;

  .col-1-mob {
@extend %column-for-all-table;
}

.col-2-mob{
  box-shadow: 0 0 0px 0px white, 0 0 0px 0px white,
    0px 0 11px 0px rgba(0, 0, 0, 0.10),
    0px 0 0px 0px rgba(0, 0, 0, 0.15);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;

  .col-2-cell-1-mob , .col-2-cell-4-mob {
    position: relative;
height:116px;
display:flex;
flex-direction: column;
justify-content: center;
.limited i{
  color: #8bc53f;
  font-size: 23px;
  margin-bottom: 12px;
}
  .limited p{
    font-size: 16px;
    color: #979797;
    font-family: sansRegular;
    margin-top: 6px;
  }
  .limited span{
    color: #eb4e19;
    font-family: sanslight;
    font-size: 14px;
    transform: translate(110%, -230%);
    position: absolute;
    font-weight: 800;
  }

  }
  .col-2-cell-2-mob , .col-2-cell-3-mob{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:116px;
    color: #8bc53f;
    font-size: 23px;
  }
  .col-2-cell-5-mob{
    height:116px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p{
      font-family: OpenSans-SemiBold;
      font-size: 16px;
      margin: 10px 0;
    }
    :nth-child(2){
      font-size: 16px;
      color: #979797;
      font-family: sansRegular;
    }
  span{
      color: #cd3907;
      font-family: sanslight;
      font-size: 14px;
      transform: translate(120%, -271%);
            position: absolute;
      font-weight: 800;
    }
  }
  .col-2-cell-6-mob{
    height: 116px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    span {
      color: #cd3907;
      position: absolute;
      font-family: sanslight;
      font-size: 14px;
      transform: translate(110%, -114%);
            font-weight: 800;
    }
  }
  .limit {
    font-size: 14px;
    color: #979797;
    font-family: sansRegular;
  }
  .delete-line{
  @extend %delet-line;
  }
  .col-2-cell-7-mob{
    height: 116px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    button{
      @extend %btn-custom-mob;
      background-color: #8bc53f;
    }
  }
}

}
/* table-3 */

.table-3-mob {
  margin-top: 4rem;

  .col-1-mob {
@extend %column-for-all-table;
}

.col-2-mob{
  box-shadow: 0 0 0px 0px white, 0 0 0px 0px white,
    0px 0 11px 0px rgba(0, 0, 0, 0.10),
    0px 0 0px 0px rgba(0, 0, 0, 0.15);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;

  .col-2-cell-1-mob , .col-2-cell-4-mob {
    position: relative;
height:116px;
display:flex;
flex-direction: column;
justify-content: center;
.limited i{
  color:  #eb4e19;
  font-size: 23px;
  margin-bottom: 12px;
}
  .limited p{
    font-size: 16px;
    color: #979797;
    font-family: sansRegular;
    margin-top: 6px;
  }
  .limited span{
    color: #eb4e19;
    font-family: sanslight;
    font-size: 14px;
    transform: translate(110%, -230%);
    position: absolute;
    font-weight: 800;
  }

  }
  .col-2-cell-2-mob , .col-2-cell-3-mob{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:116px;
    color:  #eb4e19;
    font-size: 23px;
  }
  .col-2-cell-5-mob{
    height:116px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p{
      font-family: OpenSans-SemiBold;
      font-size: 16px;
      margin-bottom: 15px;
    }
    :nth-child(2){
      font-size: 16px;
      color: #979797;
      font-family: sansRegular;
    }
  span{
      color: #cd3907;
      font-family: sanslight;
      font-size: 14px;
      transform: translate(103%, -274%);
            position: absolute;
      font-weight: 800;
    }
  }
  .col-2-cell-6-mob{
    height: 116px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    span {
      color: #cd3907;
      position: absolute;
      font-family: sanslight;
      font-size: 14px;
      transform: translate(130%, -112%);
            font-weight: 800;
    }
  }
  .limit {
    font-size: 14px;
    color: #979797;
    font-family: sansRegular;
  }
  .delete-line{
  @extend %delet-line;
  }
  .col-2-cell-7-mob{
    height: 116px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;

  }
}
button{
  @extend %btn-custom-mob;
  background-color: #eb4e19;
}
}
/* table-4 */ 
.table-4-mob {
  margin-top: 4rem;

  .col-1-mob {
@extend %column-for-all-table;
}

.tab-4-col-2-mob{
  background-color: #2c2c2c;
  box-shadow: 0 0 0px 0px white, 0 0 0px 0px white,
    0px 0 11px 0px rgba(0, 0, 0, 0.10),
    0px 0 0px 0px rgba(0, 0, 0, 0.15);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    hr {
      background: #535353
    }
    .cell-1-mob {
      height: 116px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      p {
        font-size: 30px;
        color: #A9A9A9;
        margin: 35px 0;
        font-family: Georgiabold;
        color: #fff;
        letter-spacing: 1pxك
      }
  
      .limited {
        position: relative;
  
        p {
          font-size: 14px;
          color: #979797;
          font-family: sansRegular;
          margin: 0 0;
        }
  
        i {
          font-size: 23px;
          color: #979797;
          margin-top: 10px;
        }
  
        span {
          color: #cd3907;
          position: absolute;
          font-family: sanslight;
          font-size: 14px;
          transform:  translate(250%, -191%);
        }
      }
    }
  
    .cell-2-mob {
      height: 116px;
      font-size: 23px;
      color: #979797;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    .cell-3-mob {
      color: rgba(255, 255, 255, 0.8);
      font-family: OpenSans-SemiBold;
      font-size: 14px;
      height: 116px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    .cell-4-mob {
      @extend .cell-2-mob;
    }
  
    .cell-5-mob {
      @extend .cell-3-mob;
    }
  
    .cell-6-mob {
      height: 116px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
  
      a {
        color: #cd3907;
        font-size: 14px;
        text-decoration: none;
        font-family: OpenSans-Bold;
  
        &:hover {
          color: #cd3907;
          text-decoration: none;
          cursor: pointer;
          font-family: OpenSans-Bold;
        }
      }
    }
  
    .cell-7-mob {
      display: flex;
      height: 116px;
      flex-direction: column;
  
      p {
        font-family: OpenSans-SemiBold;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: rgba(255, 255, 255, 0.8);
      }
    }
  
    button {
      width: 110px;
      height: 40px;
      border-radius: 20px;
      font-family: OpenSans-Bold;
      letter-spacing: 1px;
      background-color: transparent;
      color: #EC4D12;
      border: 2px solid #EC4D12;
      font-size: 14px;
    }
  }

}